/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

$lightblue : #5494C9;
@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), 
  url("../icomoon/fonts/icomoon.woff") format("woff"),
  url("../icomoon/fonts/icomoon.ttf") format("truetype");
}


* {
	@include box-sizing(border-box);
}

h2 {
	font-size: 1.6em;
	text-align: center;
}

.container {
	display: block;
	width: 1140px;
	margin: 40px auto;
	border: 1px solid #ccc;
	@include clearfix();
	background: #f9f9f9;
	@include box-shadow(0px 0px 10px #ccc);
}

ul.organize-elements {
	display: block;
	border: 1px solid #ccc;

	li {
		display: block;
		min-height: 40px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ccc;
		text-align: center;
		line-height: 40px;
		position: relative;

		&:last-child {
			border-bottom: none;
		}
	}
}

ul.element-adder {
	display: block;
	width: 100%;
	height: 30px;

	li {
		display: inline-block;
		line-height: 30px;
		border-right: 1px solid #ccc;
		padding: 0 4px;
		background: #ccc;
	}
}

[draggable] {
	cursor: move;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	/* Required to make elements draggable in old WebKit */
	-khtml-user-drag: element;
	-webkit-user-drag: element;
	@include transition(all .2s ease-in-out);
}

.over {
	// @include transform(scale(.98));
	@include border-radius(3px);
	border: 1px dotted $lightblue;
}

.dragging { color: $lightblue; }

section {
	border: 1px dotted $lightblue;
	width: 700px;
	height: 100px;

	div, ul, li, a, label {
		border: 1px dotted $lightblue;
	}
}