!!! 5
html
  head
    title Section Builder
    link(rel='stylesheet', href='stylesheets/foundation.css')
    link(rel='stylesheet', href='stylesheets/screen.css')
    script(type='text/javascript', src='modernizr.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(type='text/javascript', src='main.js')
  body
    .container
      .row
        ul.element-adder.large-offset-3
          li Hello
          li there
        .column.large-3
          h2 Elements
          ul.organize-elements
            li.no-icon No elements in this section yet.
            li(draggable) Hello
        section(draggable='true').column.large-9        
