@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cogs, .icon-cog, .icon-magnifier, .icon-tags, .icon-list, .icon-checkmark, .icon-braces, .icon-uniF47C, .icon-reload, .icon-selectionadd, .icon-selectionrmove, .icon-uniF48A, .icon-uniF48B, .icon-refresh, .icon-resize-vertical, .icon-caret-up, .icon-caret-down, .icon-sign-blank, .icon-remove, .icon-remove-2, .icon-paragraph-left, .icon-stats, .icon-link, .icon-image, .icon-cabinet, .icon-paragraph-center, .icon-download, .icon-wrench, .icon-move, .icon-multiply, .icon-github {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-cogs:before {
	content: "\61";
}
.icon-cog:before {
	content: "\62";
}
.icon-magnifier:before {
	content: "\64";
}
.icon-tags:before {
	content: "\65";
}
.icon-list:before {
	content: "\66";
}
.icon-checkmark:before {
	content: "\67";
}
.icon-braces:before {
	content: "\68";
}
.icon-uniF47C:before {
	content: "\69";
}
.icon-reload:before {
	content: "\6a";
}
.icon-selectionadd:before {
	content: "\6c";
}
.icon-selectionrmove:before {
	content: "\6d";
}
.icon-uniF48A:before {
	content: "\6e";
}
.icon-uniF48B:before {
	content: "\6f";
}
.icon-refresh:before {
	content: "\70";
}
.icon-resize-vertical:before {
	content: "\71";
}
.icon-caret-up:before {
	content: "\72";
}
.icon-caret-down:before {
	content: "\73";
}
.icon-sign-blank:before {
	content: "\74";
}
.icon-remove:before {
	content: "\75";
}
.icon-remove-2:before {
	content: "\76";
}
.icon-paragraph-left:before {
	content: "\77";
}
.icon-stats:before {
	content: "\78";
}
.icon-link:before {
	content: "\79";
}
.icon-image:before {
	content: "\7a";
}
.icon-cabinet:before {
	content: "\31";
}
.icon-paragraph-center:before {
	content: "\32";
}
.icon-download:before {
	content: "\33";
}
.icon-wrench:before {
	content: "\34";
}
.icon-move:before {
	content: "\35";
}
.icon-multiply:before {
	content: "\36";
}
.icon-github:before {
	content: "\37";
}
