@import "build";

input, textarea {
	display: block;
	vertical-align: middle;
	border: 1px solid #bbb;
	padding: 8px 10px 8px 20px;
	font-size: 1em;

	&.big-input {
		font-size: 1.3em;
	}
}

textarea {
	width: 75%;
	max-width: 85%;
	margin:5px 0;
	resize: vertical;
	overflow: visible;

	&.generic-text {
		display: block;
		width: 100% !important;
		height: 100% !important;
	}
}

.add-section-title {
	margin: 10px 0 0px 20px;
}

button {
	position: relative;
	background: $strongblue;

	&[data-icon]::after {
		content: attr(data-icon);
		left: 10px;
		font-family: 'icons';
		color: #f9f9f9;
		position: absolute;
	}
	&[data-icon] {
		padding-left: 40px;
	}
	&.orange {
		// needs latest Compass, add '@import "compass"' to your scss
		background-color: #f9aa48; // Old browsers
		@include filter-gradient(#f9aa48, #ff920a, vertical); // IE6-9
		@include background-image(linear-gradient(top,  #f9aa48 0%,#ff920a 100%));

		border: none;
		padding-bottom: 12px;

		&:hover {
			background: #EF8707;
		}
	}
}

label {
	font-weight: bold;
}