@import "build";

input, textarea {
	display: block;
	vertical-align: middle;
	border: 1px solid #bbb;
	padding: 8px 10px 8px 20px;
	font-size: 1em;

	&.big-input {
		font-size: 1.3em;
	}
}

textarea {
	width: 75%;
	max-width: 85%;
	margin:5px 0;
}

.add-section-title {
	margin: 10px 0 0px 20px;
}

button {
	position: relative;
	background: $strongblue;

	&[data-icon]::after {
		content: attr(data-icon);
		left: 10px;
		font-family: 'icons';
		color: #f9f9f9;
		position: absolute;
	}
	&[data-icon] {
		padding-left: 40px;
	}
}

label {
	font-weight: bold;
}