
.layout-wrapper {
    outline: 1px solid #7BF5F5 !important;
    padding: 10px 0 10px;
    display: block;

    &:hover {
        background: #FBF9DE;
        @include box-shadow(none);
    }

    &.column.one > .droppable-placeholder {
        width: 100%;
        display: block !important;
        height: 10px;
    }

    &.column {
        
        > ul.children > .builder-element { 
            display: inline-block !important; 
            margin: 2px 0 1px 0;
        }
        > ul.children > .droppable-placeholder { 
            width: 1% !important; 
            background: orange;
            display: inline-block !important; 
            margin: 0;
            min-height: 41px;
        }
    
        // Necessary to compensate for unbalanced placeholders which skew the page view.
        &.two > ul.children > .builder-element:nth-of-type(4n+6) ,
        &.three > ul.children > .builder-element:nth-of-type(6n+8), 
        &.four > ul.children > .builder-element:nth-of-type(8n+10),
        &.five > ul.children > .builder-element:nth-of-type(10n+12),
        &.six > ul.children > .builder-element:nth-of-type(12n+14)
        {
            margin-left: 1% !important;
        }
        &.two > ul.children > .builder-element { 
            width: 48.5%; 
        }

        &.three > ul.children > .builder-element { 
            width: 32%; 
        }
    
        &.four > ul.children > .builder-element { 
            width: 23.75%; 
        }

        &.five > ul.children > .builder-element { 
            width: 18.8%; 
        }

        &.six > ul.children > .builder-element { 
            width: 15.5%; 
        }
    }

}


.tab-layout {
    position: relative;

    > ul.children {
        > .droppable-placeholder {
            display: inline-block;
            width: 1%;
            margin: 0;
        }

        > .droppable-placeholder {
            height: 41px !important;
            min-height: none !important;
        }
    
        > .builder-element {
            position: static;
            @include border-radius(3px 3px 0 0);
            cursor: pointer;
            display: inline-block;
            line-height: 30px;
            outline: none;
            white-space: nowrap;
            margin: 0 -4px 0 -4px !important;

            &:hover {
                @include box-shadow(none);
            }

            > h3:first-of-type {
                cursor: pointer;
                position: relative;
                top: -1px;
                border: 1px solid #ccc;
                @include border-radius(3px 3px 0 0);
                text-align: center;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 100%;
                padding: 0;
                font-size: 1em;

                &:hover { background: #eee; }

                &:focus {
                    outline: none;
                    background: #ddd;
                }
            }
            &.active-tab > ul.children {
                display: block; 
                z-index: 11;
                background: #fff;
                outline: 1px dotted $strongblue;
                padding: 3px 7px;
            }

            > ul.children {
                z-index: -11;
                display: none;
                position: absolute;
                top: 50px;
                left: 9px;
                width: 96%;
                border: 100%;
            }
        }
    }       
}

.list-layout {


    > ul.children > .builder-element {
        list-style: disc !important;
    }
}
