/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "build";

$lightblue : #2092CC;
@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), 
  url("../icomoon/fonts/icomoon.woff") format("woff"),
  url("../icomoon/fonts/icomoon.ttf") format("truetype");
}

$opensans: 'Open Sans', sans-serif;

.bs { border: 1px solid red; }
.clickme { 
		color: $lightblue;
		cursor: pointer;
}

* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

body {
	background: #ddd;
	font-family: $opensans;
	text-shadow: 0px 1px 0px #fff;
	color: #444;
}

h2 {
	font-size: 1.6em;
	text-align: center;
}

header {
	padding: 15px !important;
// needs latest Compass, add '@import "compass"' to your scss
	background-color: #ffffff; // Old browsers
	@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 100%));
	border-bottom: 1px solid #ccc;
	@include box-shadow(inset 0px 0px 11px #fff);
}

.container {
	display: block;
	width: 1200px;
	max-width: 100%;
	margin: 40px auto;
	border: 1px solid #ccc;
	@include clearfix();
	background: #f9f9f9;
	@include box-shadow(0px 0px 10px #ccc);
}

ul.organize-properties {
	display: block;
	width: 33%;
	float: left;
	// min-height: 200px;
	position: relative;
	margin-top: 50px !important;

	.add-property {
		font-size: .88em;
		padding: 0 15px 0 0;
	}

	.hide-properties { cursor: pointer; }

	li{
		display: block;
		min-height: 40px;
		line-height: 40px;
		position: relative;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ddd;
		@include box-shadow(0px -2px 6px #d5d5d5);

		&:first-child {
			@include border-radius(3px 3px 0 0);
			@include box-shadow(none);
		}
		&:last-child {
			@include border-radius(0 0 3px 3px);
			border-bottom: none;
		}

		&.new-data-type {
			position: absolute;
			top: -40px;
			left: 10px;
			border: none;
			&:after, &:before { display: none; }
		}

		// &:after, &:before {
		// 	content: "";
		// 	display: block;
		// 	width: 50px;
		// 	height: 13px;
		// 	@include box-shadow( 0px -3px 6px #ccc);
		// 	top: -2px;
		// 	@include opacity(.99);
		// 	position: absolute;
		// 	z-index: 0;
		// }
		// &:after { 
		// 	right: 0; 
		// 	// @include transform(rotate(-4deg));
		// }
		// &:before {
		// 	left: 0px;
		// }
	}

	.icon {
		display: inline-block;
		padding: 0 10px;
		text-align: center;	
		@include transition(all .3s ease-in-out);
		color: #999;

		&.flipped {
			@include transform(rotate(180deg));
		}
	}

	.close {
		position: absolute;
		top: 0px;
		right: 10px;
	}

	li ul {
		margin: 0 !important;
	}

	li ul li, .property {
		@include box-shadow(none);
		text-align: left;
		padding-left: 60px;
		background: #fff; 
		margin: 1px 3px 1px 35px;
		cursor: pointer;
		min-height: 25px;
		line-height: 25px;
		font-size: 1em;

		&:after, &:before { display: none; }

		&.selected { 
			color: #f9f9f9; 
			background: $lightblue;
			text-shadow: none;

			&:hover { color: #fff; }

			.icon { color: #fff; }
		}

		&:hover {
			color: $lightblue;
		}

		&:first-child {
			border-top: 1px solid #ddd;
		}

		&:last-child {
			border-bottom: none;
		}
		&:focus {
			outline: 1px solid #fff;
		}
	}

	div[contentEditable] {
		padding-left: 60px;
		&:focus {
			outline: 1px solid #fff;
		}
	}
}

.right-arrow {
	line-height: 300px;
	font-size: 3rem;
	color: $lightblue;
	@include opacity(.3);

	// span:first-of-type {
	// 	-webkit-animation: blink 2s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
	// span:nth-of-type(2) {
	// 	-webkit-animation: blink 2s 4s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
	// span:last-of-type {
	// 	-webkit-animation: blink 2s 8s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
}

@keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}
@-moz-keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}
@-webkit-keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}

ul.element-adder {
	display: block;
	width: 75%;
	height: 30px;
	border: none;
	float: right;

	li {
		display: inline-block;
		line-height: 30px;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		padding: 2px 5px;
		background: #ccc;
		// needs latest Compass, add '@import "compass"' to your scss
		background-color: #ffffff; // Old browsers
		@include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
		// @include transition(all .2s ease-in-out);
		@include background-image(linear-gradient(top,  #ffffff 0%,#e5e5e5 100%));
	}
}


.over {
	// @include transform(scale(.98));
	@include border-radius(3px);
	border: 1px solid $lightblue;
}

.dragging { color: $lightblue; border: 1px solid red; }

section {
	width: 73%;
	min-height: 100px;
	float: right;
	position: relative;
	border: 1px solid #ccc;

	div, ul, li, a, label {
		@include transition(width .2s ease-in-out);
		border: 1px solid $lightblue;
	}
}