
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "build";

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), 
  url("../icomoon/fonts/icomoon.woff") format("woff"),
  url("../icomoon/fonts/icomoon.ttf") format("truetype");
}

.bs { border: 1px solid red; }
.clickme { 
		color: $strongblue;
		cursor: pointer;
}

* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

html { height: 100%; }

body {
	background: url("../images/tweed.png");
	font-family: $opensans;
	text-shadow: 0px 1px 0px #fff;
	color: #444;
	position: relative;
	min-height: 100%;
	padding-top: 40px;

	&:after {
		content: "";
		position: absolute;
		display: none;
		left: 0;
		top: 0px;
		width: 100%; 
		height: 100%;
		background: rgba(0,0,0,.5);
		z-index: 9911;
	}

	&.active-modal::after {
		display: block;
	}

}

h1 { 
	font-size: 2.1em;

}

h2 {
	font-size: 1.6em;

	&.title-bar {
		background: $fadedblue;
		border-bottom: 1px solid $lightblue;
		padding: 5px 15px;
		margin-bottom: 10px;
		width: 95%;
	}
}

h3 { 
	font-size: 1.2em;
	padding: 5px 3px;
}

.tabs {
	height: 40px;
	background: none;
	display: block;
	width: 1200px;
	max-width: 100%;
	margin: 0px auto;

	.add-section {
		float: left;
		color: #f9f9f9;
	}

	li {
		line-height: 40px; 
		height: 100%;
		max-width: 200px;
		padding: 0 10px;
		text-overflow: ellipsis;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		@include border-radius(2px 2px 0 0);
		background: #333;
		background: rgba(0,0,0,.5);
		margin: 0 3px;
		text-shadow: 0px -1px 3px #000;
		color: #f9f9f9;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
		.remove {
			position: absolute;
			right: 2px;
			top: -14px;
			color: #f7f7f7;
		}
		&.current-tab {
			text-decoration: underline;
		}
	}
}

header, footer {
	// needs latest Compass, add '@import "compass"' to your scss
	background-color: #424141; // Old browsers
	@include filter-gradient(#424141, #262626, vertical); // IE6-9
	@include background-image(linear-gradient(top,  #424141 0%,#262626 100%));
	//needs latest Compass, add '@import "compass"' to your scss
	// background-color: #aebcbf; // Old browsers
	// @include filter-gradient(#aebcbf, #0a0809, vertical); // IE6-9
	// @include background-image(linear-gradient(top,  #aebcbf 0%,#6e7774 50%,#0a0e0a 51%,#0a0809 100%));
	@include clearfix();
	@include border-radius(3px 3px 0 0 );
	color: #f9f9f9;
	text-shadow: 0px -1px 0px #111;
	padding: 10px 5px 10px 10px;
	border-bottom: 1px solid #252525;
	border-top: 1px solid #666;

	input { 
		margin-top: 1px;
		background: #555;
		border: 1px solid #222;
		border-top-color: #222;
		@include border-radius(20px);
		@include transition(all .2s ease-in-out);
		@include box-shadow(inset 0px 1px 3px #222);
		color: #f9f9f9;

		&:focus {
			outline: none;
			// @include box-shadow(0px 0px 6px 3px $strongblue);
			background: #707070;
		}
	}
	
	h1 {
		cursor: pointer;
		color: #ccc;
		padding-top: 4px;

		&:hover {
			text-decoration: underline;
			color: #eee;
		}
	}

	button { 
		font-size: .9em;
		margin: 0 0 0 8px;
	}	

	.view-sections {
		margin: 0 5px 0 15px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			display: none;
			width: 0;
			height: 0;
			border: 10px solid transparent;
			border-top-color: $strongblue;
			top: 100%;
			left: 45%;
		}
		&.active:before { display: block; }
		&:hover::before {border-top-color: #2184A1; }

	}
}

footer {	
	@include border-radius(0 0 3px 3px);
}

.container {
	display: block;
	width: 1200px;
	max-width: 100%;
	margin: 0px auto;
	background: #f9f9f9;
	position: relative;
	@include box-shadow(0px 0px 9px #333);
	@include border-radius(4px);
}

.modal {
	display: block;
	width: 900px;
	position: fixed;
	left: 50%;
	z-index: 9912;
	margin-left: -400px;
	top: 100px;
	background: #fff;
	background: rgba(255,255,255,.89);
	padding: 20px;
	@include box-shadow(0px 0px 7px #222);
	
	.close-modal {
		position: absolute;
		top: 4px;
		right: 4px;
		cursor: pointer;
	}

}

ul.select-properties {
	display: block;
	width: 35%;
	float: left;
	// min-height: 200px;
	position: relative;
	// margin-top: 50px !important;

	.add-property {
		font-size: .88em;
		padding: 0 15px 0 0;
	}

	.hide-properties { cursor: pointer; }

	li{
		display: block;
		min-height: 40px;
		line-height: 40px;
		position: relative;
		padding: 0 !important;
		border-top: 1px solid #fff;
		@include box-shadow(0px -2px 6px #ccc);
		padding-bottom: 10px;

		&:first-child {
			@include border-radius(3px 3px 0 0);
			@include box-shadow(none);
		}
		&:last-child {
			@include border-radius(0 0 3px 3px);
			border-bottom: none;
		}

		&.new-data-type {
			position: absolute;
			top: -40px;
			left: 10px;
			border: none;
			&:after, &:before { display: none; }
		}

		// &:after, &:before {
		// 	content: "";
		// 	display: block;
		// 	width: 50px;
		// 	height: 13px;
		// 	@include box-shadow( 0px -3px 6px #ccc);
		// 	top: -2px;
		// 	@include opacity(.99);
		// 	position: absolute;
		// 	z-index: 0;
		// }
		// &:after { 
		// 	right: 0; 
		// 	// @include transform(rotate(-4deg));
		// }
		// &:before {
		// 	left: 0px;
		// }
	}

	.icon {
		display: inline-block;
		padding: 0 10px;
		text-align: center;	
		@include transition(all .3s ease-in-out);
		color: #999;

		&.flipped {
			@include transform(rotate(180deg));
		}
	}

	.close {
		position: absolute;
		top: 0px;
		right: 10px;
	}

	li ul {
		margin: 0 !important;
	}

	label {
		cursor: pointer;
		padding: 4px 15px;
		position: absolute;
		right: 3px;
		top: 0px;
		z-index: 11;	
	}


	li li, .property {

		@include box-shadow(none);
		text-align: left;
		padding-left: 60px;
		background: #fff; 
		margin: 1px 3px 1px 35px;
		cursor: pointer;
		position: relative;
		min-height: 25px;
		line-height: 25px;
		font-size: 1em;
		border-bottom: none;

		&:after, &:before { display: none; }

		&.selected { 
			color: #f9f9f9; 
			background: $strongblue !important;
			text-shadow: none;

			&:hover { color: #fff; }

			.icon { color: #fff; }
		}

		&:hover {
			color: $strongblue;
		}

		&:first-child {
			border-top: 1px solid #ddd;
		}

		&:last-child {
			border-bottom: none;
		}
		&:focus {
			outline: 1px solid #fff;
		}

		&:nth-child(even) {
			background: $fadedblue;
		}
	}

	div {
		padding-left: 60px;
		&:focus {
			outline: 1px solid #fff;
		}
	}
}


.selected-properties-title {
	position: relative;
	bottom: -20px;
	display: inline-block;
	border: 1px solid red;
	padding: 0px 20px;
	background: #fff;
}

ul.property-editor {
	border: 1px solid #ccc; 
	padding: 32px 10px 10px;
	@include border-radius(3px);
	position: relative;

	&:before {
		content: "Selected Properties";
		position: absolute;
		top: -10px;
		display: block;
		width: 50%;
		left: 50%;
		margin-left: -25%;
		background: #fff;
		padding: 0 15px;
		text-align: center;
		font-size: 1.4em;
	}

	li {

		padding: 6px 14px 6px 60px;

		&:nth-child(odd) {
			background: $fadedblue;
		}

		.icon {
			font-size: .9em;
			padding: 0 5px;
			color: #555;
			position: relative;

			&:before {
				content: attr(data-tooltip);
				background: rgba(0,0,0,.8);
				position: absolute;
				display: none;
				bottom: 100%;
				left: -50%;
				padding: 4px 6px;
				text-shadow: 0;
				font-family: $opensans; 
				@include border-radius(3px);
				color: #eee;
			}

			&:hover { color: $strongblue; }
			// &:hover::before { display: block; }
		}
	}
}

.sort-element {
	background: $fadedblue;
	font-family: 'icons';
	position: absolute;
	height: 100%;
	width: 30px;
	text-align: center;
	display: block;
	color: #444;
	font-size: .8em;
}

.right-arrow {
	line-height: 300px;
	font-size: 3rem;
	color: $strongblue;
	@include opacity(.3);

	// span:first-of-type {
	// 	-webkit-animation: blink 2s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
	// span:nth-of-type(2) {
	// 	-webkit-animation: blink 2s 4s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
	// span:last-of-type {
	// 	-webkit-animation: blink 2s 8s linear infinite alternate;
	// 	-moz-animation: blink 1s linear infinite alternate;
	// 	animation: blink 1s linear infinite alternate;
	// }
}

@keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}
@-moz-keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}
@-webkit-keyframes blink {
	from { @include opacity(1); }
      to { @include opacity(0); }
}

ul.outside-draggables {
	display: block;
	margin: 10px 10px 0 0;
	border-top: 1px solid #fff;
	@include border-radius(3px 3px 0 0);
	background: $strongblue;
	color: #fff;
	
	li {
		text-shadow: none;
		display: inline-block;
		line-height: 30px;
		padding: 5px 15px;
		height: 100%;
		margin: 0 3px;
		position: relative;
		cursor: move;
		min-width: 100px;
		text-align: center;

		&:hover {
			text-decoration: underline;

			ul { display: block; }
		}

		&.dragging {
			border: 1px dotted $strongblue;
			@include opacity(1);
			@include border-radius(2px);
			@include box-shadow(0px 0px 3px #aaa);
			height: 40px;
			background: #fff;
			color: #313131;
		}

		&.no-close ul { display: block; }

		ul {
			position:absolute;
			width: 150%;
			top: 100%;
			left: -3px;
			z-index: 9999;
			border: 1px solid #aaa;
			border-top: none;
			display: none;

			li {
				width: 100%;
				background: #fff;
				color: $strongblue;
				position: relative;
				left: -3px;
				min-width: 0%;
			}

			li:hover {
				color: #f9f9f9;
				background: $strongblue;
			}
		}

	}
}



.over {
	// @include transform(scale(.98));
	@include border-radius(3px);
	outline: 1px dotted $strongblue !important;
	background: $fadedblue !important;
}

.dragging { 
	opacity: .7;
	z-index: 1111;
}

.moving-sort .sort-element {
	background: $lightblue;
}

#existing-sections {
	position: absolute;
	top: 60px;
	right: -1px;
	width: 182px;
	@include box-shadow(-1px 1px 3px #666);
	background: #555;
	z-index: 111;
	max-height: 80%;
	overflow-y: scroll;

	li {
		// for smoother animations
		background: #555;
		white-space: nowrap;
		text-align: center;
		cursor: move;
		padding: 5px 10px;
		border-top: 1px solid #888;
		border-bottom: 1px solid #333;
		color: #f9f9f9;
		text-shadow: 0px -1px 0px #222;
		max-height: 182px;

		.thumb-object {
			border: 1px solid $medstrongblue;
			padding: 5px;
			margin: 2px;
		}
	}
}

.organize-elements {
	
	min-height: 100%;
	margin: 10px;
	padding: 5px;
	width: 25.5%;
	margin-left: -4%;
	float: left;
	position: relative;
	background: #fff;
	@include border-radius(3px);
	@include box-shadow(0px 1px 2px #aaa);
	border: 1px solid #ccc;

	.ui-sortable-placeholder {
		border: 1px dotted $strongblue;
		visibility: visible !important;
		background: #fff !important;
	}

	li {
		position: relative;
		padding-left: 25px;
		min-height: 30px;
		line-height: 30px;
		display: block;
		cursor: move;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis !important;

		&:first-child {
			@include border-radius(2px 2px 0 0);
			.sort-element {
				@include border-radius(2px 0 0 0);
			}
		}
		&:last-child {
			@include border-radius(0 0 2px 2px);
			.sort-element {
				@include border-radius(0 0 0 2px);
			}
			
		}

		&:nth-child(odd) {
			background: $fadedblue;
		}
		&:nth-child(even) {
			background: #fff;
		}

		.destroy-element, .activate-element { display: none;}

		.sort-element {
			left: 0px;
			top: 0px;
			cursor: pointer;
			cursor: hand;
			width: 20px;
			text-align: center;
		}

		.child-list { 
			margin-left: -12px !important;
		}

		&.out-of-flow {
			background: #ddd !important;

			> .destroy-element, > .activate-element { display: block;}
			 .sort-element {background: #ccc; }

			 li {
				background: #ddd !important;
			 }
		}

		.activate-element, .destroy-element {
			position: absolute;
			right: 10px;
			font-family: 'icons';
			color: #7FBA50;
			cursor: pointer;
		}
		.destroy-element {
			right: 33px;
			color: #666;
		}
	}
}

section.builder-container {
	float: right;
	position: relative;
	margin: 0px 10px 10px;
	padding: 0;
	@include border-radius(0 0 3px 3px);
	@include box-shadow(0px 2px 4px #ccc);
	border: 1px solid #ccc;

	.sort-element {
		top: 0;
		right: 0;
	}

	&.no-grid {

		 .builder-element {
			outline-color: transparent !important;
			margin-left: 0;
			margin-right: 0;

			textarea, .title-setter{
				border: none;
				resize: none;
			}

			textarea {
				background: #e3e3e3;
				padding: 10px;
			}

			.add-list-item { display: none; }
		}

		.droppable-placeholder {
			display: none
		}
	}
}


// Represents a draggable item. Using custom clearfix to avoid overflow hidden problem
.builder-element {
	position: relative;
	padding: 2px 3px;
	margin: 0px 1%;
	@include transition(width .2s ease-in-out, height .2s ease-in-out);
	@include border-radius(3px);
	// @include clearfix();
	outline: 1px dashed $medblue;
	background: #fff;
	vertical-align: top;
 	*zoom: 1;
 	cursor: move;
 	text-overflow: ellipsis;
 	display: inline-block;
 	width: 98%;

 	ul, ol, dl {
 		list-style-position: inside !important;

 		li {
 			list-style-position: inside !important;
 		}
 	}

 	&.width-5 {
 		width: 500px !important;
 	}

	&.builder-scaffold {
		width: 100%;
		outline: none;
		margin: 0;
		cursor: auto;
		min-height: 100px;
	}

 	&:hover { 
		outline-color: $strongblue;
		@include box-shadow(0px 0px 4px $medblue);
		
		> .config-menu-wrap  {
			@include opacity(1);
		}
 	}

	&.builder-child { 
		outline: 1px dashed $medblue;
		// width: auto;
	}

	input { 
		margin: 10px 0;
		width: 65%;
	}

	&.selected-element {
		outline: 1px dashed #FF6100 !important;
		@include box-shadow(0px 0px 16px #ccc);
		// background: #FFCA8E;
	}

	&:before,
	&:after {
    	content: " "; /* 1 */
    	display: table; /* 2 */
	}
	&:after {
    	clear: both;
	}

	textarea { color: #363636; }
}

.droppable-placeholder {
	width: 100%;
	position: relative;
	left: 0;
	margin: 2px auto;
	@include opacity(0);
	@include transition(all .2s ease-in-out);
	height: 14px;
	border: 2px dashed orange;

	// &:after, &:before {
	// 	content: "";
	// 	position: absolute;
	// 	top: -4px;
	// 	display: black;
	// 	width: 0;
	// 	height: 0;
	// 	border: 4px solid transparent;
	// }
	// &:before {
	// 	right: 100%;
	// 	border-right-color: orange;
	// }
	// &:after {
	// 	left: 100%;
	// 	border-left-color: orange;	
	// }
}

.ui-selectable-helper { 
	position: absolute;
	z-index: 100;
	border:1px dotted $strongblue; 
	background: rgba(125,185,232,.4);
}

.config-menu-wrap {
	@include transition(all .1s ease-in-out);
	@include opacity(0);
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	cursor: pointer;
	text-align: center;
	background: #f9f9f9;
	width: 51px;
	height: 100%;
	// border: 1px solid red;
	max-height: 38px;
	z-index: 12;
	@include border-radius(0 2px 0 2px);

	li {
		cursor: pointer;
		@include transition(all .1s ease-in-out);
		float: left;
		text-shadow: none;
		padding: 0 6px;
		width: 50%;
		line-height: 38px;
		color: $strongblue;
		position: relative;

		li { color: #333; }
	}
}

.set-options {

	.dropdown {
		position: absolute;
		top: 100%;
		right: 1px;
		display: none;
		font-family: $opensans;
		width: 170px;			
		border: 1px solid #ddd;
		@include border-radius(3px);
		@include box-shadow(0px 2px 3px #ccc);
		z-index: 111;
		background: #fff;
	}

	.dropdown li {
		display: block;
		height: 33px;
		cursor: pointer;
		text-align: center;
		display: block;
		width: 100%;
		line-height: 33px;

		&:hover { 
			background: $strongblue;
			color: #fff;
			text-shadow: none;
		}
	}
}

button {
	@include border-radius(2px);
}

.view-section {
	cursor: pointer;
}

.generic-list {
	width: 80%;
	li {
		border: 1px dotted $strongblue;
		padding: 6px 4px;
		border-bottom-color: transparent;

		&:last-of-type {
			border-bottom-color: $strongblue;
		}
	}
}

ul.generic-list {
	list-style: circle;
}
ol.generic-list {
	list-style: decimal;
}

.add-list-item {
	display: block;
	padding: 6px;
	cursor: pointer;
}

.property-link {
	outline: 1px solid #ccc;
	@include border-radius(3px);
	background: #e5e5e5;
	text-align: center;
	display: inline-block;
	padding: 0px 4px;
	margin: 0px 6px;
}

.layout-wrapper {
	outline: 1px solid #7BF5F5 !important;
	padding: 10px 0 10px;

	&:hover {
		background: #FBF9DE;
		@include box-shadow(none);
	}

	&.column.one > .droppable-placeholder {
		width: 100%;
		display: block !important;
		height: 10px;
	}

	&.column {
		
		> ul.children > .builder-element { 
			display: inline-block !important; 
			margin: 2px 0 1px 0;
		}
		> ul.children > .droppable-placeholder { 
			width: 1% !important; 
			background: orange;
			display: inline-block !important; 
			margin: 0;
			min-height: 41px;
		}
	
		// Necessary to compensate for unbalanced placeholders which skew the page view.
		&.two > ul.children > .builder-element:nth-of-type(4n+6) ,
		&.three > ul.children > .builder-element:nth-of-type(6n+8), 
		&.four > ul.children > .builder-element:nth-of-type(8n+10),
		&.five > ul.children > .builder-element:nth-of-type(10n+12),
		&.six > ul.children > .builder-element:nth-of-type(12n+14)
		{
			margin-left: 1% !important;
		}
		&.two > ul.children > .builder-element { 
			width: 48.5%; 
		}

		&.three > ul.children > .builder-element { 
			width: 32%; 
		}
	
		&.four > ul.children > .builder-element { 
			width: 23.75%; 
		}

		&.five > ul.children > .builder-element { 
			width: 18.8%; 
		}

		&.six > ul.children > .builder-element { 
			width: 15.5%; 
		}
	}

}

@media all and (min-width: 1000px) {
	width: 27.5%;
	margin-left: -5%;
}

.choose-columns {

	border-top: 1px solid #ccc;
	padding-top: 30px;

	li{
		width: 16%;
		text-shadow: none;
		display: inline-block;
		height: 80px;
		line-height: 80px;
		text-align: center;
		color: #313131;
		background:  url("../images/columnsprite.png") no-repeat center;
		cursor: pointer;

		&.selected-column {
			outline: 2px solid $strongblue;
		}


		&:nth-child(1) { background: #c5d4e8; }
		&:nth-child(2) { background-position: 0 0px; }
		&:nth-child(3) { background-position: 0 -79px; }
		&:nth-child(4) { background-position: 0 -159px; }
		&:nth-child(5) { background-position: 0 -240px; }
		&:nth-child(6) { background-position: 0 -320px; }
	}
}

.no-drag { cursor: auto; }

.tab-layout {
	position: relative;

	> ul.children {
	 	> .droppable-placeholder {
			display: inline-block;
			width: 1%;
			margin: 0;
		}

		> .droppable-placeholder {
			height: 41px !important;
			min-height: none !important;
		}
	
	 	> .builder-element {
			position: static;
			@include border-radius(3px 3px 0 0);
			cursor: pointer;
			display: inline-block;
			line-height: 30px;
			outline: none;
			text-align: center;
			white-space: nowrap;
			margin: 0 -4px 0 -4px !important;

			&:hover {
				@include box-shadow(none);
			}

			> h3:first-of-type {
				cursor: pointer;
				position: relative;
				top: -1px;
				border: 1px solid #ccc;
				@include border-radius(3px 3px 0 0);
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				width: 100%;
				padding: 0;
				font-size: 1em;

				&:hover { background: #eee; }

				&:focus {
					outline: none;
					background: #ddd;
				}
			}
			&.active-tab > ul.children {
				display: block; 
				z-index: 11;
				background: #fff;
				outline: 1px dotted $strongblue;
				padding: 3px 7px;
			}

			> ul.children {
				z-index: -11;
				display: none;
				position: absolute;
				top: 50px;
				left: 10px;
				width: 96%;
				border: 100%;
			}
		}
	}		
}


.context-menu {
	position: absolute;
	background: #f9f9f9;
	@include opacity(1);
	@include border-radius(3px);
	@include box-shadow(0px 2px 3px #ccc);
	border: 1px solid #ddd;
	top: auto;
	left: auto;
	width: 150px;
	height: auto !important;
	max-height: none;
	@include transition(all .1s ease-in-out);
	z-index: 9999;
	display: block;
	cursor: pointer;

	li {
		text-align: center;
		padding: 10px;
		
		&:first-of-type {
			@include border-radius(3px 3px 0 0);
		}
		&:last-of-type {
			@include border-radius(0 0 3px 3px);
		}
	
		&:hover {
			background: $strongblue;
			color: #f9f9f9;
			text-shadow: none;
		}
	}
}