
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "poc";
@import "base";
@import "builder";
@import "layouts";
@import "form";
@import "modal";

/* Main SCSS file, supplies general styling for headers, links, et cetera */
html { height: 100%; }

body {
	font-family: $opensans;
	font-size: 15px;
	text-shadow: 0px 1px 0px #fff;
	color: #444;
	position: relative;
	min-height: 100%;
	height: 100%;
	padding-top: 10px;

}

h1 { 
	font-size: 2.1em;

}

h2 {
	font-size: 1.6em;

	&.title-bar {
		background: $fadedblue;
		border-bottom: 1px solid $lightblue;
		padding: 5px 15px;
		margin-bottom: 10px;
		width: 95%;
	}
}

h3 { 
	font-size: 1.2em;
	padding: 5px 3px;
}

p {
	line-height: 1.7;
	&.nice-dialog {
		text-align: center;
		padding: 10px;
		border: 1px solid #ddd;
		margin: 10px 0;
		@include border-radius(3px);
	}
}

.tabs {
	height: 40px;
	background: none;
	display: block;
	position: relative;
	width: calc(100% - 356px);
	left: 356px;
	margin: 40px 0 0 0;

	.add-section {
		float: left;
		color: #f9f9f9;
		padding-right: 10px;
	}

	li {
		line-height: 40px; 
		height: 100%;
		max-width: 200px;
		padding: 0 30px 0 10px;
		text-overflow: ellipsis;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		@include border-radius(2px 2px 0 0);
		background: #333;
		// background: rgba(0,0,0,.5);
		margin: 0 3px;
		text-shadow: none;
		color: #f9f9f9;
		cursor: pointer;

		&:hover {
			text-decoration: underline;

		}
		.remove {
			position: absolute;
			right: 3px;
			display: block;
			top: 5px;
			line-height: 16px;
			font-size: .6em;
			color: #f7f7f7;
			background: #444;
			@include border-radius(3px);
			margin: 4px 0;
			height: 20px;
			padding: 3px 5px;

			&:hover {
				background: #606060;
			}
		}
		&.current-tab {
			text-decoration: underline;
			color: #333;
			background: #f9f9f9;
			@include box-shadow(inset 0px 0px 1px #fff);

			.remove { 
				color: #333;
				background: #ccc;

				&:hover { background: #bbb; }
			}
		}
	}
}

.container {
	display: block;
	width:  calc(100% - 356px);
	margin-left: 356px;
	min-height: 90%;
	background: #eee;
	position: relative;
	margin-top: -17px;
	@include box-shadow(0px 0px 4px #555);
}

ul.select-properties {
	.add-property {
		font-size: .88em;
		padding: 0 15px 0 0;
	}

	.hide-properties { cursor: pointer; }

	li{
		display: block;
		min-height: 40px;
		line-height: 40px;
		position: relative;
		border-top: 1px solid #fff;
		@include box-shadow(0px -2px 6px #ccc);
		padding: 0  0 0px 3px;

		&:first-child {
			@include border-radius(3px 3px 0 0);
			@include box-shadow(none);
		}
		&:last-child {
			@include border-radius(0 0 3px 3px);
			border-bottom: none;
		}

		&.new-data-type {
			position: absolute;
			top: -40px;
			left: 10px;
			border: none;
			&:after, &:before { display: none; }
		}
	}

	.close {
		position: absolute;
		top: 0px;
		right: 10px;
	}

	li ul {
		margin: 0 !important;
	}

	label {
		cursor: pointer;
		padding: 4px 35px;
		position: absolute;
		left: 0px;
		top: 0px;
		z-index: 11;	
	}


	li li, .property {

		@include box-shadow(none);
		text-align: left;
		padding-left: 60px;
		background: #fff; 
		margin: 1px 3px 1px 0px;
		cursor: pointer;
		position: relative;
		min-height: 25px;
		line-height: 25px;
		font-size: 1em;
		border-bottom: none;

		&:after, &:before { display: none; }

		&.selected { 
			color: #f9f9f9; 
			background: $strongblue !important;
			text-shadow: none;

			&:hover { color: #fff; }

			.icon { color: #fff; }
		}

		&:hover {
			color: $strongblue;
		}

		&:first-child {
			border-top: 1px solid #ddd;
		}

		&:last-child {
			border-bottom: none;
		}
		&:focus {
			outline: 1px solid #fff;
		}

		&:nth-child(even) {
			background: $fadedblue;
		}
	}

	div {
		&:focus {
			outline: 1px solid #fff;
		}
	}
}
.flipped {
	@include transform(rotate(180deg));
}


.selected-properties-title {
	position: relative;
	bottom: -20px;
	display: inline-block;
	border: 1px solid red;
	padding: 0px 20px;
	background: #fff;
}

ul.property-editor {
	border: 1px solid #ccc; 
	padding: 32px 10px 10px;
	@include border-radius(3px);
	position: relative;
	margin-top: 23px;

	&:before {
		content: "Selected Properties";
		position: absolute;
		top: -10px;
		display: block;
		width: 50%;
		left: 50%;
		margin-left: -25%;
		background: #eee;
		padding: 0 15px;
		text-align: center;
		font-size: 1.4em;
	}

	li {

		padding: 6px 14px 6px 60px;

		&:nth-child(odd) {
			background: $fadedblue;
		}

		.icon {
			font-size: .9em;
			padding: 0 5px;
			color: #555;
			position: relative;

			&:before {
				content: attr(data-tooltip);
				background: rgba(0,0,0,.8);
				position: absolute;
				display: none;
				bottom: 100%;
				left: -50%;
				padding: 4px 6px;
				text-shadow: 0;
				font-family: $opensans; 
				@include border-radius(3px);
				color: #eee;
			}

			&:hover { color: $strongblue; }
			// &:hover::before { display: block; }
		}
	}
}

.property-link {
	outline: 1px solid #ccc;
	@include border-radius(3px);
	background: #e5e5e5;
	text-align: center;
	display: inline-block;
	padding: 0px 4px;
	margin: 0px 6px;
}

ul li.selected-choice {
	outline: 2px solid $strongblue !important;
}

.no-drag { cursor: auto; }



.control-section { 
	height: 100%; 
}

.section-builder-wrap { 
	padding: 40px 19% 12px 65px;
	height: 100%;
	@include transition(padding .3s ease-in-out);

	&.no-sidebar {
		padding-right: 10px;

		.toolbelt {
			right: 30px;
		}
	}
}

.dark-sidebar {
	background: $dusky;
}

.sidebar-controls {
	position: absolute;
	top: 0;
	width: 55px;
	background: $dusky;
	height: 100%;
	color: #f9f9f9;
	text-shadow: none;
	@include transition(width .3s ease-in-out);

    &.hidden-sidebar {
        top: 0px;
        width: 30px !important; 
		height:31px;
		overflow: hidden;

		span.section-content { 
			display: none;
		}

		.hide-sidebar {
			left: 4px;
        	top: -2px;
        	background: transparent;
        	padding: 0;
		}
    }

	.list-header {
		text-align: center !important;
        font-size: 1.3em;
        padding: 6px 0;
        background: #313131;
        border-bottom: 1px solid #000;

        &:hover { border-top: 1px solid $lightdusk; }
	}

	.placeholder {
		border: 1px solid $lightdusk !important;
		margin: 7px auto;
		text-align: center !important;
		padding: 0;
		width: 90%;
		@include border-radius(3px);
	}

	&.main-controls {
		left: 0;

		li {
			height: 80px;
			padding-top: 45px;

			li {
				height: auto;
			}
		}
	}
	&.existing-sections-layouts {
		border-left: 1px solid #222;
		right: 0;
		overflow: auto;
		width: 18%;
		list-style: none !important; 

		li:nth-of-type(n+2):not(.placeholder) {
			padding: 4px;
			width: 100%;
			position: relative;

			&:hover {
				text-decoration: underline;	
			}
		}

		.thumb-object {
			border: 1px solid $lightdusk;
			margin: 1px 0;
			padding: 4px;
		}
	}
	&.accessories {
		right: 0;
		width: 18%;
	}

	li {
		text-align: center;
		vertical-align: bottom;
		border-bottom: 1px solid #222;
		border-top: 1px solid $lightdusk;
		cursor: pointer;
		position: relative;
	
		&:before {
			position: absolute;
			font-size: 1.3em;
			top: 10px;
			display: block;
			width: 100%;
			text-align: center;
		}
		&:last-of-type {
			border-bottom: none;
		}
		&:hover {
			background: #333;
			border-top-color: $dusky;

			li:empty { background: #000; }
		}

		&:hover::before {
			text-shadow: 0px -1px 3px #fff;
		}

		&:hover .hidden-menu { display: block; }

		.hidden-menu {
			display: none;
			max-height: 400px;
			width: 200px;
			z-index: 333;
			position: absolute;
			left: 55px;
			top: -1px;
			background: $dusky;
			border-left: 1px solid #777;
			overflow-y: scroll;

			li {
				position: relative;
				min-height: 30px;
				padding-top: 0;
				line-height: 40px;
			}
		}
	}
}

.ahead-of-flow {
	background: #222;
	color: #fff;
	border-top: none;

	&:hover { background: #222 !important; }
}

.accessories {
	overflow-y: auto;
	overflow-x: visible;

    &.hidden-sidebar :not(".hide-sidebar") {
    	display: none;
    }

	.draggable-modal {
		position: relative !important;
		width: 100%;
		margin: 3px auto 10px;

		> ul {
			max-height: 400px;
			overflow: auto;
		}
	}
}

[data-attr] {
	span[contentEditable], span[contenteditable] {
		padding: 2px 10px;
		background: #222;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;

		&:focus {
			outline: none;
			border-left: 1px solid $lightdusk;
			border-right: 1px solid $lightdusk;
		}
	}
}

.ui-slider-handle {
	background: $dusky !important;
}

.disabled {
	background: #ddd;
	color: #777;

	&:hover {
		background: #ddd !important;
		color: #777 !important;		
	}
}

.section-title span:last-of-type { color: #777; font-size: 1rem; padding-top: 5px; padding-left: 20px;}