include head.jade
body 
    .container.control-section
        header
            label.fl.w5.add-section-title Section Title:
                input.inline(placeholder='Enter the Section title', name='section-title', value='Section Builder Demo!')#section-title.w7.m10
            button.fr.generate-section(data-icon='h') View Section Builder
            button.fr.save-section(data-icon='m') Save Section
        .section-builder-wrap
            h2.w35.fl.m10 Add Content to this Section

            .clear
            input.w35.fl.m10#search-data-types(placeholder='Search Data Types')
            //- button.inline.fl.m10 Go
            .clear
            //- h3.w35.fl.m10 Properties
            //- .clear
            ul.select-properties#class-list.m10
                //- li.clickme.new-data-type Add Data Type +
                script(type='text/template')#data-type
                    div.hide-properties.fl.w6
                        span.icon p
                        |<%= name %>
                    span.add-property.fr.clickme  Add Property + 
                    .clear
                script(type='text/template')#property-item
                    <% if (typeof editable == "undefined") { %>
                    <div contentEditable>
                    <% } %>
                    <% String.prototype.clean = function() { return this.charAt(0).toUpperCase() + this.slice(1).replace("_"," ") } %>
                    | <%= name.clean() %>
                    <% if (typeof draggable !== "undefined") { %>
                    .sort-element t
                    <% } %>
            div.fl.w15.icon.center.right-arrow
                span s
                span s
                span s
            script(type='text/template')#property-item-editor
                <%= name.clean() %>
                span.icon.fr.edit.clickme(data-tooltip='instruction') e
                span.icon.fr.edit.clickme f
                span.icon.fr.edit.clickme g
                span.icon.fr.edit.clickme h
            ul.property-editor.fl.w45.m10
        .section-builder-wrap.hidden
            ul.fr.w65.generic-elements
                li Hellow
                li Hellow

            ul#organize-properties.w3.fl
            section.w65.builder-container
            script(type='text/template')#draggable-element
                <input placeholder='<%= name.clean() %>' class='w7'>
                div.icon.set-options e
                    ul.dropdown
                        li.config-panel Hi there
                        li Hellow   
            script#inner-element(type='text/template')
                | <%= properties.toString() %>
        .clear