
script(type='text/template')#element-sortable-item
    .sort-element.icon-move
    div.destroy-element.icon-remove
    <span class='element-title'>
    <%= (typeof title !== "undefined" && title !== "") ?  title.clean(true) : "Default Title" %>
    </span>
    <%= (typeof type !== "undefined" && type !== "") ?  " - " + type : "" %>
    ul.child-list
script(type='text/template')#draggable-element
    h3 <%= typeof title !== "undefined" ? title.clean() : type.clean() %>
    <ul class='children'>
    </ul>
script(type='text/template')#drag-controls
    <% var layout = typeof layout !== "undefined" && layout == true ? true : false %>
    ul.config-menu-wrap.no-drag 
        li.icon-tags.view-attrs
        li.icon-cogs.set-options
            ul.dropdown
                li.config-panel Configure <%= layout == true ? "Group" : "Element" %>
                li.export Export As Section
                <%= layout == true ? "<li class='ungroup-fields'>Ungroup fields</li>" : "" %>
        li.icon-multiply.remove-from-flow
script(type='text/template')#property-link
    span(contentEditable='false').property-link <%= property_name  %> 
        i.icon.remove-property-link g
script(type='text/template')#context-menu-default
    li.group-elements Group selected
    li.copy-element Copy Element
    <% if (typeof window.copiedModel !== "undefined" && typeof layout !== "undefined" && window.copiedModel != null) {%>
    li.paste-element Paste Element
    <% } %>
    li.destroy-element Delete Element
script(type='text/template')#snapshot
    |<%= opname.clean() + (opname.slice(-1) == "e"?"d":"ed") %>
    |<%= type + (typeof title !== "undefined" ? " - " + title : "") %>

script(type='text/template')#placeholder-context
    <% if (window.copiedModel != null) { %>
    li.paste-element Paste Element
    <% } %>