
script(type='text/template')#element-sortable-item
    .sort-element.icon-move
    div.destroy-element.icon-remove
    //- <span class='element-title'>
    //- <%= (typeof title !== "undefined" && title !== "") ?  title.clean(true) : "Default Title" %>
    //- </span>
    i.icon-caret-down.toggle-children
    <%= (typeof type !== "undefined" && type !== "") ?  type : "" %>
    ul.child-list
script(type='text/template')#draggable-element
    h3 <%= typeof title !== "undefined" ? title.clean() : type.clean() %>
    <ul class='children'>
    </ul>
script(type='text/template')#drag-controls
    <% var layout = typeof layout !== "undefined" && layout == true ? true : false %>
    ul.config-menu-wrap.no-drag 
        li.icon-tags.view-attrs(data-tooltip="Editable Attributes")
        li.icon-cogs.set-options(data-tooltip="Configuration")
            ul.dropdown
                li.config-panel Configure <%= layout == true ? "Group" : "Element" %>
                li.export Export As Section
                <%= layout == true ? "<li class='ungroup-fields'>Ungroup fields</li>" : "" %>
        li.icon-multiply.remove-from-flow(data-tooltip="Hide From Section")
script(type='text/template')#property-link
    span(contentEditable='false').property-link <%= property_name  %> 
        i.icon.remove-property-link g
script(type='text/template')#context-menu-default
    <% if (selected == false) { %>
    li.icon-checkmark.select-this Select
    <% } else { %>
    li.icon-multiply.select-this Unselect
    <% } %>
    li.copy-element.icon-docs Copy
    li.cut-element.icon-scissors-2 Cut 
    <% if (typeof window.copiedModel !== "undefined" && typeof layout !== "undefined" && window.copiedModel != null) {%>
    li.paste-element.icon-paste Paste
    <% } else { %>
    li.paste-element.icon-paste.disabled Paste
    <% } %>
    li.icon-remove.destroy-element Delete

    li.group-elements.icon-rectangleselection Make Group
script(type='text/template')#snapshot
    |<%= opname.clean() + " " %>
    //- + (opname.slice(-1) == "e"?"d":"ed")
    |<%= type %>

script(type='text/template')#placeholder-context
    <% if (window.copiedModel != null) { %>
    li.paste-element Paste Element
    <% } %>