script(type='text/template')#element-sortable-item
    .sort-element t
    <% flag = false %>
    <%= (typeof customText !== "undefined" && !flag) ? flag = customText.clean(true) : "" %>
    <%= (typeof type !== "undefined" && !flag) ? flag = type.clean(true) : "" %>
    <%= (typeof title !== "undefined" && !flag) ? flag = title.clean(true) : "" %>
    ul.child-list
script(type='text/template')#draggable-element
    h3 <%= typeof title !== "undefined" ? title.clean() : type.clean() %>
script(type='text/template')#drag-controls
    ul.config-menu-wrap
        li.icon.set-options e
            ul.dropdown
                li.config-panel Styling
        li.icon.remove-from-flow g