
script(type='text/template')#element-sortable-item
    .sort-element t
    div.activate-element m
    div.destroy-element g
    <span class='element-title'>
    <%= (typeof title !== "undefined" && title !== "") ?  title.clean(true) : "Default Title" %>
    <%= (typeof type !== "undefined" && type !== "") ?  " - " + type : "" %>
    </span>
    ul.child-list
script(type='text/template')#draggable-element
    h3 <%= typeof title !== "undefined" ? title.clean() : type.clean() %>
    <% if (typeof property !== "undefined") { %> <input placeholder='<%= className + "." + property.name.clean() %>' /> <%}%>
script(type='text/template')#drag-controls
    ul.config-menu-wrap
        li.icon.set-options e
            ul.dropdown
                li.config-panel Styling
        li.icon.remove-from-flow g
script(type='text/template')#property-link
    span(contentEditable='false').property-link <%= property_name  %> 
        i.icon.remove-property-link g