script(type='text/template')#data-type
    div.hide-properties.fl.w6
        span.icon p
        |<%= name %>
    span.add-property.fr.clickme  Add Property + 
    .clear
script(type='text/template')#property-item
    <% if (typeof editable == "undefined") { %>
    <div contentEditable>
    <% } %>
    //- Sorry for the shitty formatting - jade is bad at indents.
    <% String.prototype.clean = function(trim) { var cutoff = 10000000; var appendMe = ""; if (typeof trim !== "undefined" && trim == true) { if (this.length > 27){ appendMe = "...."; cutoff = 27} }return this.charAt(0).toUpperCase() + this.slice(1).replace("_"," ")} %>
    | <%= name.clean() %>
//- Template to edit properties
script(type='text/template')#property-item-editor
    <%= name.clean() %>
    span.icon.fr.edit.clickme(data-tooltip='instruction') e
    span.icon.fr.edit.clickme f
    span.icon.fr.edit.clickme g
    span.icon.fr.edit.clickme h
script(type='text/template')#generic-element
    <%= type %>