
//- Editing templates defined in this file
script(type='text/template')#finalize-editing
    button.confirm.fr.m10.orange OK
    button.reject.fr.m10 Cancel

script(type='text/template')#button-editor
    label
        | Set button title:
        <input type='text' class='title-setter w7' value='<%= typeof title !== "undefined" ? title: "Default Text"%>' />

script(type='text/template')#link-editor
    label
        | Set link title:
        <input type='text' class='title-setter w7' value='<%= typeof title !== "undefined" ? title: ""%>' placeholder='Default Text' />    
    label
        | Set link destination:
        <input type='text' class='title-setter w7' placeholder="e.g. http://pega.com" value='<%= typeof link_href !== "undefined" ? title: ""%>' />    

script(type='text/template')#radio-editor
    label
        | Label Position:
        <% var pos = typeof label_position !== 'undefined' ? label_position : '' %>
        <select class='label-position'>
        <option value="left" <% if (pos == "left") print("selected") %>> Left </option>
        <option value="right" <% if (pos == "right") print("selected") %>> Right</option>
        <option value="top" <% if (pos == "top") print("selected") %>> Top</option>
        <option value="bottom" <% if (pos == "bottom") print("selected") %>> Bottom</option>
        </select>
    label   
        | Label Text: 
        <input type='text' class='label-text w7 m10' value='<%= typeof label_text !== "undefined" ? label_text: ""%>' placeholder='Default Label' />    

script#column-picker(type='text/template')
    h2 Choose a column layout
    ul.choose-columns
        li(data-columns='') One Column
        li(data-columns='two') Two Columns
        li(data-columns='three') Three Columns
        li(data-columns='four') Four Columns
        li(data-columns='five') Five Columns
        li(data-columns='six') Six Columns
script#skins(type='text/template')

script#layout-changer(type="text/template")
    h2 Change the layout type
    ul.choose-layout
        li(data-layout='tabs', data-view-item='tabItem') Tabbed
        li(data-layout='BlankLayout') Blank
        li(data-layout='ListLayout') List Layout

script#dynamic-layout-setup(type='text/template')
    h2 Choose a Preset Layout

script#section-change(type='text/template')
    <input type='text' class='change-section-title w7 m10' value="<%= typeof title !== 'undefined' ? title : '' %>" placeholder='Enter a section title' />

script#change-styles(type='text/template')
    label
        | Object Width: 
        select.set-width
            option(value="") None Specified
            option(value='w1-6') One Sixth
            option(value='w25') One Fourth
            option(value="w1-3") One Third
            option(value="w5") One Half
            option(value="w2-3") Two Thirds
            option(value="w75") Three Fourths
            option(value="w5-6") Five Sixths
            option(value="w10") Full Size

script#property-editor(type='text/template')
    label
        | Read Only
        <input type='radio' data-attr='editable' value='false' name='permissions' <%= typeof editable !== "undefined" && editable == false ? "checked" : "" %> />
    label   
        | Editable 
        <input type='radio' data-attr='editable' value='true' name='permissions' <%= typeof editable !== "undefined" && editable == true ? "checked" : "" %> />
    .clear
script#icon-or-full(type='text/template')
    p.nice-dialog Choose to display as a clickable icon, or fully.
    label
        | As Icon
        <input type='radio' data-attr='display' value='icon' name='icon' <%= typeof display !== "undefined" && display == 'icon' ? "checked" : "" %> />
    label   
        | Full 
        <input type='radio' data-attr='display' value='full' name='icon' <%= typeof display !== "undefined" && display == 'full' ? "checked" : "" %> />
    .clear

