
//- Editing templates defined in this file
script(type='text/template')#finalize-editing
    button.confirm.fr.m10.orange OK
    button.reject.fr.m10 Cancel

script(type='text/template')#button-editor
    label
        | Set button title:
        <input type='text' class='title-setter' value='<%= typeof title !== "undefined" ? title: "Default Text"%>' />


script#freeform-layout-settings(type='text/template')
    input(data-property='columns', type='text', placeholder='Number of columns', value='2').set-columns
    input(data-property='rows', type='text', placeholder='Number of rows', value='2').set-rows
    button.submit.fr Ok
script#column-picker(type='text/template')
    h2 Choose a column layout
    ul.choose-columns
        li(data-columns='') One Column
        li(data-columns='two') Two Columns
        li(data-columns='three') Three Columns
        li(data-columns='four') Four Columns
        li(data-columns='five') Five Columns
        li(data-columns='six') Six Columns
script#skins(type='text/template')
    | PRO

script#dynamic-layout-setup(type='text/template')
    h2 Choose a Preset Layout