
//- Editing templates defined in this file
script(type='text/template')#finalize-editing
    button.confirm.fr.m10.orange OK
    button.reject.fr.m10 Cancel

script(type='text/template')#button-editor
    label
        | Set button title:
        <input type='text' class='title-setter w7' value='<%= typeof title !== "undefined" ? title: "Default Text"%>' />

script(type='text/template')#link-editor
    label
        | Set link title:
        <input type='text' class='title-setter w7' value='<%= typeof title !== "undefined" ? title: "Default Text"%>' />    
    label
        | Set link destination:
        <input type='text' class='title-setter w7' placeholder="e.g. http://pega.com" value='<%= typeof link_href !== "undefined" ? title: ""%>' />    

script(type='text/template')#radio-editor
    label
        Label Position:
        select.label-position
            option(value="left") Left
            option(value="right") Right
            option(value="top") Top

script#column-picker(type='text/template')
    h2 Choose a column layout
    ul.choose-columns
        li(data-columns='') One Column
        li(data-columns='two') Two Columns
        li(data-columns='three') Three Columns
        li(data-columns='four') Four Columns
        li(data-columns='five') Five Columns
        li(data-columns='six') Six Columns
script#skins(type='text/template')
    | PRO

script#dynamic-layout-setup(type='text/template')
    h2 Choose a Preset Layout

script#section-change(type='text/template')
    <input type='text' class='change-section-title w7 m10' value="<%= typeof title !== 'undefined' ? title : '' %>" placeholder='Enter a section title' />
