script#element-editor(type='text/template')
    div.close-modal.icon g 
    <% if (typeof property !== "undefined") { %>   

    <% } %>
    label(for='set-width') Set width: 
        <select name='width' data-style-generator='width' id='set-width'>
        option(value='16.6667%') 1/6
        option(value='33.222%') 2/6
        option(value='49.888%') 3/6
        option(value='66.444%') 4/6
        option(value='83.1%') 5/6
        option(value='100%') 1
        </select>
    | Float: 
    <select name='display' data-style-generator='display'>
    option(value='none') None
    option(value='inline-block') Left
    option(value='inline-block') Right
    </select>
    button.fr.m10.save-changes Save Changes
    .clear