script(type='text/template')#button-template
    <button class='no-drag label-text'><%= typeof title !== "undefined" ? title: "Default Text"%></button>
script(type='text/template')#generic-list
    <% if (typeof tagName === "undefined") tagName = "ul"; console.log(listItems) %>
    <<%= tagName %> class='no-drag generic-list'>
    <% var items = typeof listItems !== "undefined" ? listItems : ["","",""] %>
    <% for (var num in listItems) { %>
    li(contentEditable='true')
        <%= items[num].text  %>
    <% } %>

    </<%= tagName %>>
    span.add-list-item + Add Item
script(type='text/template')#custom-text
    <% var value = typeof customText !== "undefined" ? customText : null %>
    <textarea class='no-drag title-setter generic-text' placeholder="Enter your text here" ><%= value %></textarea>
script(type='text/template')#custom-header
    <% var value = typeof customHeader !== "undefined" ? customHeader : ""  %>
    <input placeholder="Enter your header here" value ="<%= value %>" class='no-drag title-setter big-input generic-header' />
script(type='text/template')#custom-link
    <a href="<%= typeof link_href !== 'undefined' ? link_href : '#' %>" title="<%= typeof title !== 'undefined' ? title : 'Link' %>"><%= typeof title !== "undefined" ? title : 'Link' %></a>
script(type='text/template')#generic-radio
    <% var label_text = typeof title !== "undefined" ? title : "Radio Button" %>
    <% var label = "<label class='no-drag main-label'><span class='label-text'>" + label_text + "</span>" %>
    <% var labelpos = typeof label_position !== "undefined" ? label_position : false %>
    <% if (labelpos == "left" || labelpos == "top" || labelpos == false) { %>
    <%= label %>
    <% } %>
    input(type='radio')
    <% if (labelpos == "bottom" || labelpos == "right") { %>
    <%= label %>
    <% } %>
    </label>
script(type='text/template')#date-time
    label.no-drag   
        span.label-text.date-picker Pick a Date/Time
script(type='text/template')#dropdown
script(type='text/template')#builder-wrap
    p.placeholder.center Drag in UI elements, layouts, and/or sections to start building.
    ul.children
script(type='text/template')#property-template
        h3 <%= property.name.clean() %>
        label
        <% if (editable == true || typeof editable == "undefined") { %> 
        <input placeholder='<%= className + "." + property.name.clean() %>' />
        <%} else { %>
        h3.title
            <%= className + "." + property.name.clean() %>
        <% } %>
 
