script(type='text/template')#button-template
    button(contentEditable='true') Button Text
script(type='text/template')#bulleted-list
    ul
        li Item1 
        li Item2
        li Item3
script(type='text/template')#numbered-list
    ol(contentEditable)
        li Item1 
        li Item2
        li Item3
script(type='text/template')#custom-text
    <% var value = typeof customText !== "undefined" ? customText.clean() : null %>
    <textarea placeholder="Enter your text here" ><%= value %></textarea>
script(type='text/template')#custom-header
    <% var value = typeof customText !== "undefined" ? customText.clean() : null  %>
    <input placeholder="Enter your header here" value ="<%= value %>" class='big-input' />