script(type='text/template')#button-template
    <button class='no-drag title-setter'>  Button Text (edit me!)</button>
script(type='text/template')#generic-list
    <% if (typeof tagName === "undefined") tagName = "ul"; console.log(listItems) %>
    <<%= tagName %> class='no-drag generic-list'>
    <% var items = typeof listItems !== "undefined" ? listItems : ["","",""] %>
    <% for (var num in listItems) { %>
    li(contentEditable='true')
        <%= items[num].text  %>
    <% } %>

    </<%= tagName %>>
    span.add-list-item + Add Item
script(type='text/template')#custom-text
    <% var value = typeof customText !== "undefined" ? customText : null %>
    <textarea class='no-drag title-setter generic-text' placeholder="Enter your text here" ><%= value %></textarea>
script(type='text/template')#custom-header
    <% var value = typeof customHeader !== "undefined" ? customHeader : ""  %>
    <input placeholder="Enter your header here" value ="<%= value %>" class='no-drag title-setter big-input generic-header' />
script(type='text/template')#custom-link
script(type='text/template')#generic-radio
    label.no-drag 
        span.label-text Radio Button
        input(type='radio')
script(type='text/template')#date-time
    label.no-drag 
        span.label-text.date-picker Pick a Date/Time
script(type='text/template')#dropdown
script(type='text/template')#builder-wrap
    ul.children
