!!! 5
html
    head
        title Section Builder
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,400bold,300' rel='stylesheet' type='text/css'>
        link(rel='stylesheet', href='stylesheets/foundation.css')
        link(rel='stylesheet', href='stylesheets/screen.css')
        link(rel='stylesheet', href='stylesheets/form.css')
        link(rel='stylesheet', href='stylesheets/addsection.css')
        link(href='http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://ajax.cdnjs.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
        script(src='http://ajax.cdnjs.com/ajax/libs/backbone.js/1.0.0/backbone-min.js')
        script(type='text/javascript', src='js/modernizr.js')
        script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
        script(type='text/javascript', src='js/ui.js')
        script(type='text/javascript', src='js/builder.js')
        script(type='text/javascript', src='js/configure.js')
        script(type='text/javascript', src='js/editor.js')
        script(type='text/javascript', src='js/existing.js')
        script(type='text/javascript', src='js/layout.js')
