
//-  DYNAMIC LAYOUT TEMPLATE
script#dynamic-layout(type='text/template')
    p.p10.center.placeholder Drop a property, section, UI element, or another dynamic layout here.

//- DYNAMIC CONTAINER TEMPLATE
script#dynamic-container(type='text/template')
    p.p10.center.placeholder Dynamic Container here

//- PLACEHOLDER FOR TAB LAYOUT - BEHAVIOR DEFINED IN CSS
script#tab-layout(type='text/template')
    p.center.p10.center.placeholder Drag in properties or elements. The layout will format them into tabs appropriately.

//- PLACEHOLDER FOR ACCORDION LAYOUT
script#accordion-layout(type='text/template')
    p.p10.center.placeholder  Drop a property, section, UI element, or another dynamic layout here. 

//- TEMPLATE FOR n-wide n-high FREEFORM GRID
script#freeform-layout(type='text/template')
    p.p10.center.placeholder Free form layout here!
    <% for (var j = 0; j < rows; j++) { %>
    div.builder-element
        | ROW
        <% for (var i = 0; i < columns; i++) { %>
        div.builder-element
            | COL
    <% } %>
    <% } %>

//-  TEMPLATE FOR A BLANK LAYOUT YET TO BE CONFIGURED
script#blank-layout(type='text/template')
script#table-layout(type='text/template')
    p.placeholder.p10.center Drag properties into this layout to setup the table structure.
    tr.children
    tr.dummy
