script(type='text/template')#layout-item
    <%= name %>
    .close-modal.icon g
script(type="text/template")#picker-interface
    button.try-layout Try Layout On Selected
    ul.layout-list
    div.close-modal.icon g