script(type='text/template')#layout-item
    <%= name %>
    .close-modal.icon g
script(type="text/template")#picker-interface
    button.try-layout Try Layout On Selected
    ul.layout-list
    div.close-modal.icon g
script#dynamic-layout(type='text/template')
    p.p10.center.placeholder Drop a property, section, UI element, or another dynamic layout here.
script#dynamic-container(type='text/template')
    p.p10.center.placeholder Dynamic Container here
script#tab-layout(type='text/template')
    p.p10.center.placeholder Tabs here    
script#accordion-layout(type='text/template')
    p.p10.center.placeholder Accordion here!
