include head.jade
body 

    ul.tabs
        li.add-section +
    script(type='text/template')#tab-item
        span(contentEditable)<%= typeof title !== "undefined" ? title : "Default Title" %>
        div.remove.icon-multiply
include builder-instance.jade