include head.jade
body 
    ul.tabs.mauto
        li.add-section +
    script(type='text/template')#tab-item
        <%= typeof title !== "undefined" ? title : "Default Title" %>
        div.remove.hidden x
include builder-instance.jade