/* line 17, ../sass/base.scss */
.center {
  text-align: center;
}

/* line 18, ../sass/base.scss */
.relative {
  position: relative;
  display: block;
}

/* line 19, ../sass/base.scss */
.absolute {
  position: absolute;
}

/* line 20, ../sass/base.scss */
.sticky {
  position: fixed !important;
}

/* line 21, ../sass/base.scss */
.fr {
  float: right;
}

/* line 22, ../sass/base.scss */
.fl {
  float: left;
}

/* line 23, ../sass/base.scss */
.m0 {
  margin: 0;
}

/* line 24, ../sass/base.scss */
.clickme {
  color: #2092cc;
  cursor: pointer;
}

/* line 25, ../sass/base.scss */
.clickme:hover {
  color: #53a3e0;
  text-decoration: underline;
}

/* line 26, ../sass/base.scss */
.m10 {
  margin: 10px !important;
}

/* line 27, ../sass/base.scss */
.m20 {
  margin: 20px !important;
}

/* line 28, ../sass/base.scss */
.m30 {
  margin: 30px !important;
}

/* line 29, ../sass/base.scss */
.s9 {
  font-size: .9em !important;
}

/* line 30, ../sass/base.scss */
.s8 {
  font-size: .8em !important;
}

/* line 31, ../sass/base.scss */
.s7 {
  font-size: .7em !important;
}

/* line 32, ../sass/base.scss */
.s6 {
  font-size: .6em !important;
}

/* line 33, ../sass/base.scss */
.s5 {
  font-size: .5em !important;
}

/* line 34, ../sass/base.scss */
.s4 {
  font-size: .4em !important;
}

/* line 35, ../sass/base.scss */
.s3 {
  font-size: .3em !important;
}

/* line 36, ../sass/base.scss */
.s2 {
  font-size: .2em !important;
}

/* line 37, ../sass/base.scss */
.s1 {
  font-size: .1em !important;
}

/* line 38, ../sass/base.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 39, ../sass/base.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 40, ../sass/base.scss */
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 41, ../sass/base.scss */
.p0 {
  padding: 0 !important;
}

/* line 42, ../sass/base.scss */
.p10 {
  padding: 10px !important;
}

/* line 43, ../sass/base.scss */
.p15 {
  padding: 15px;
}

/* line 44, ../sass/base.scss */
.p30 {
  padding: 30px !important;
}

/* line 45, ../sass/base.scss */
.pointer {
  cursor: pointer;
}

/* line 46, ../sass/base.scss */
.border-simple {
  border: 1px solid #ccc;
}

/* line 47, ../sass/base.scss */
.no-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 48, ../sass/base.scss */
.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 49, ../sass/base.scss */
.noclick {
  pointer-events: none;
}

/* line 50, ../sass/base.scss */
.inline {
  display: inline-block;
}

/* line 51, ../sass/base.scss */
.block {
  display: block;
}

/* line 52, ../sass/base.scss */
.hidden {
  display: none;
}

/* line 53, ../sass/base.scss */
.visible {
  display: block;
}

/* line 54, ../sass/base.scss */
.clear {
  clear: both;
}

/* line 55, ../sass/base.scss */
.max-w1 {
  width: 10%;
}

/* line 56, ../sass/base.scss */
.w1 {
  width: 10%;
}

/* line 57, ../sass/base.scss */
.max-w15 {
  max-width: 15%;
}

/* line 58, ../sass/base.scss */
.w15 {
  width: 15%;
}

/* line 59, ../sass/base.scss */
.max-w2 {
  width: 20%;
}

/* line 60, ../sass/base.scss */
.w2 {
  width: 20%;
}

/* line 61, ../sass/base.scss */
.max-w25 {
  max-width: 25%;
}

/* line 62, ../sass/base.scss */
.w25 {
  width: 25% !important;
}

/* line 63, ../sass/base.scss */
.w3 {
  width: 30%;
}

/* line 64, ../sass/base.scss */
.max-w3 {
  max-width: 30%;
}

/* line 65, ../sass/base.scss */
.w35 {
  width: 35%;
}

/* line 66, ../sass/base.scss */
.max-w35 {
  max-width: 35%;
}

/* line 67, ../sass/base.scss */
.w4 {
  width: 40%;
}

/* line 68, ../sass/base.scss */
.max-w4 {
  width: 40%;
}

/* line 69, ../sass/base.scss */
.w45 {
  width: 45%;
}

/* line 70, ../sass/base.scss */
.max-w45 {
  max-width: 45%;
}

/* line 71, ../sass/base.scss */
.w5 {
  width: 50%;
}

/* line 72, ../sass/base.scss */
.max-w5 {
  width: 50%;
}

/* line 73, ../sass/base.scss */
.max-w55 {
  max-width: 55%;
}

/* line 74, ../sass/base.scss */
.w55 {
  width: 55%;
}

/* line 75, ../sass/base.scss */
.w6 {
  width: 60%;
}

/* line 76, ../sass/base.scss */
.max-w6 {
  width: 60%;
}

/* line 77, ../sass/base.scss */
.max-w65 {
  max-width: 65%;
}

/* line 78, ../sass/base.scss */
.w65 {
  width: 65%;
}

/* line 79, ../sass/base.scss */
.w7 {
  width: 70%;
}

/* line 80, ../sass/base.scss */
.max-w7 {
  width: 70%;
}

/* line 81, ../sass/base.scss */
.w75 {
  width: 75%;
}

/* line 82, ../sass/base.scss */
.max-w75 {
  max-width: 75%;
}

/* line 83, ../sass/base.scss */
.w8 {
  width: 80%;
}

/* line 84, ../sass/base.scss */
.max-w8 {
  width: 80%;
}

/* line 85, ../sass/base.scss */
.max-w85 {
  max-width: 85%;
}

/* line 86, ../sass/base.scss */
.w85 {
  width: 85%;
}

/* line 87, ../sass/base.scss */
.max-w9 {
  width: 90%;
}

/* line 88, ../sass/base.scss */
.w9 {
  width: 90%;
}

/* line 89, ../sass/base.scss */
.max-w95 {
  max-width: 94.5%;
}

/* line 90, ../sass/base.scss */
.w95 {
  width: 94.5%;
}

/* line 91, ../sass/base.scss */
.max-w10 {
  max-width: 100%;
}

/* line 92, ../sass/base.scss */
.w10 {
  width: 100%;
}

/* line 93, ../sass/base.scss */
.icon {
  font-family: 'icons';
}

/* line 94, ../sass/base.scss */
.white {
  color: #fff;
}

/* line 96, ../sass/base.scss */
.w1-6 {
  width: 15.5% !important;
}

/* line 97, ../sass/base.scss */
.w5-6 {
  width: 82% !important;
}

/* line 98, ../sass/base.scss */
.w1-3 {
  width: 32% !important;
}

/* line 99, ../sass/base.scss */
.w2-3 {
  width: 64% !important;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), url("../icomoon/fonts/icomoon.woff") format("woff"), url("../icomoon/fonts/icomoon.ttf") format("truetype");
}

/* line 108, ../sass/base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 3, ../sass/form.scss */
input, textarea {
  display: block;
  border: 1px solid #bbb;
  padding: 8px 10px 8px 20px;
  font-size: 1em;
}
/* line 9, ../sass/form.scss */
input.big-input, textarea.big-input {
  font-size: 1.3em;
}
/* line 13, ../sass/form.scss */
input[type="radio"], textarea[type="radio"] {
  display: inline-block;
  width: 25px;
}

/* line 20, ../sass/form.scss */
textarea {
  margin: 5px 0;
  display: block;
  min-width: 100%;
}

/* line 26, ../sass/form.scss */
.add-section-title {
  margin: 10px 0 0px 20px;
}

/* line 30, ../sass/form.scss */
button, .button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
}

/* line 50, ../sass/form.scss */
button:hover, button:focus, .button:hover, .button:focus {
  background-color: #2284a1;
}

/* line 52, ../sass/form.scss */
button:hover, button:focus, .button:hover, .button:focus {
  color: white;
}

/* line 54, ../sass/form.scss */
button.secondary, .button.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
}

/* line 58, ../sass/form.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  background-color: #d0d0d0;
}

/* line 60, ../sass/form.scss */
button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
  color: #333333;
}

/* line 62, ../sass/form.scss */
button.success, .button.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}

/* line 66, ../sass/form.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  background-color: #457a1a;
}

/* line 68, ../sass/form.scss */
button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
  color: white;
}

/* line 70, ../sass/form.scss */
button.alert, .button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}

/* line 74, ../sass/form.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  background-color: #970b0e;
}

/* line 76, ../sass/form.scss */
button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
  color: white;
}

/* line 78, ../sass/form.scss */
button.large, .button.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
}

/* line 84, ../sass/form.scss */
button.small, .button.small {
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 0.8125em;
}

/* line 90, ../sass/form.scss */
button.tiny, .button.tiny {
  padding-top: 0.4375em;
  padding-right: 0.875em;
  padding-bottom: 0.5em;
  padding-left: 0.875em;
  font-size: 0.6875em;
}

/* line 96, ../sass/form.scss */
button.expand, .button.expand {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}

/* line 100, ../sass/form.scss */
button.left-align, .button.left-align {
  text-align: left;
  text-indent: 0.75em;
}

/* line 103, ../sass/form.scss */
button.right-align, .button.right-align {
  text-align: right;
  padding-right: 0.75em;
}

/* line 106, ../sass/form.scss */
button.disabled, button[disabled], .button.disabled, .button[disabled] {
  background-color: #2ba6cb;
  border-color: #2284a1;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 114, ../sass/form.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2284a1;
}

/* line 116, ../sass/form.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}

/* line 118, ../sass/form.scss */
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2ba6cb;
}

/* line 120, ../sass/form.scss */
button.disabled.secondary, button[disabled].secondary, .button.disabled.secondary, .button[disabled].secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 128, ../sass/form.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #d0d0d0;
}

/* line 130, ../sass/form.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: #333333;
}

/* line 132, ../sass/form.scss */
button.disabled.secondary:hover, button.disabled.secondary:focus, button[disabled].secondary:hover, button[disabled].secondary:focus, .button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #e9e9e9;
}

/* line 134, ../sass/form.scss */
button.disabled.success, button[disabled].success, .button.disabled.success, .button[disabled].success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 142, ../sass/form.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #457a1a;
}

/* line 144, ../sass/form.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}

/* line 146, ../sass/form.scss */
button.disabled.success:hover, button.disabled.success:focus, button[disabled].success:hover, button[disabled].success:focus, .button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #5da423;
}

/* line 148, ../sass/form.scss */
button.disabled.alert, button[disabled].alert, .button.disabled.alert, .button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 156, ../sass/form.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e;
}

/* line 158, ../sass/form.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}

/* line 160, ../sass/form.scss */
button.disabled.alert:hover, button.disabled.alert:focus, button[disabled].alert:hover, button[disabled].alert:focus, .button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13;
}

/* line 163, ../sass/form.scss */
button, .button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
  -webkit-appearance: none;
}

/* line 167, ../sass/form.scss */
button.tiny, .button.tiny {
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
  -webkit-appearance: none;
}

/* line 171, ../sass/form.scss */
button.small, .button.small {
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
  -webkit-appearance: none;
}

/* line 175, ../sass/form.scss */
button.large, .button.large {
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
  -webkit-appearance: none;
}

@media only screen {
  /* line 181, ../sass/form.scss */
  button, .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    /*-webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out; */
  }

  /* line 187, ../sass/form.scss */
  button:active, .button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }

  /* line 190, ../sass/form.scss */
  button.radius, .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 193, ../sass/form.scss */
  button.round, .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 197, ../sass/form.scss */
  button, .button {
    display: inline-block;
  }
}
/* line 200, ../sass/form.scss */
button {
  position: relative;
  background: #2092cc;
}
/* line 204, ../sass/form.scss */
button[data-icon]::after {
  content: attr(data-icon);
  left: 10px;
  font-family: 'icons';
  color: #f9f9f9;
  position: absolute;
}
/* line 211, ../sass/form.scss */
button[data-icon] {
  padding-left: 40px;
}
/* line 214, ../sass/form.scss */
button.orange {
  background-color: #f9aa48;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF9AA48', endColorstr='#FFFF920A');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f9aa48), color-stop(100%, #ff920a));
  background-image: -webkit-linear-gradient(top, #f9aa48 0%, #ff920a 100%);
  background-image: -moz-linear-gradient(top, #f9aa48 0%, #ff920a 100%);
  background-image: -o-linear-gradient(top, #f9aa48 0%, #ff920a 100%);
  background-image: linear-gradient(top, #f9aa48 0%, #ff920a 100%);
  border-color: #777;
  padding-bottom: 12px;
}
/* line 223, ../sass/form.scss */
button.orange:hover {
  background: #EF8707;
}

/* line 229, ../sass/form.scss */
label {
  font-weight: bold;
}

/* line 233, ../sass/form.scss */
.ui-slider {
  display: block;
}
