/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/build.scss */
.center {
  text-align: center;
}

/* line 11, ../sass/build.scss */
.relative {
  position: relative;
  display: block;
}

/* line 12, ../sass/build.scss */
.absolute {
  position: absolute;
}

/* line 13, ../sass/build.scss */
.sticky {
  position: fixed !important;
}

/* line 14, ../sass/build.scss */
.fr {
  float: right;
}

/* line 15, ../sass/build.scss */
.fl {
  float: left;
}

/* line 16, ../sass/build.scss */
.m0 {
  margin: 0;
}

/* line 17, ../sass/build.scss */
.m10 {
  margin: 10px !important;
}

/* line 18, ../sass/build.scss */
.m20 {
  margin: 20px !important;
}

/* line 19, ../sass/build.scss */
.m30 {
  margin: 30px !important;
}

/* line 20, ../sass/build.scss */
.s9 {
  font-size: .9em !important;
}

/* line 21, ../sass/build.scss */
.s8 {
  font-size: .8em !important;
}

/* line 22, ../sass/build.scss */
.s7 {
  font-size: .7em !important;
}

/* line 23, ../sass/build.scss */
.s6 {
  font-size: .6em !important;
}

/* line 24, ../sass/build.scss */
.s5 {
  font-size: .5em !important;
}

/* line 25, ../sass/build.scss */
.s4 {
  font-size: .4em !important;
}

/* line 26, ../sass/build.scss */
.s3 {
  font-size: .3em !important;
}

/* line 27, ../sass/build.scss */
.s2 {
  font-size: .2em !important;
}

/* line 28, ../sass/build.scss */
.s1 {
  font-size: .1em !important;
}

/* line 29, ../sass/build.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 30, ../sass/build.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 31, ../sass/build.scss */
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 32, ../sass/build.scss */
.p0 {
  padding: 0 !important;
}

/* line 33, ../sass/build.scss */
.p10 {
  padding: 10px !important;
}

/* line 34, ../sass/build.scss */
.p15 {
  padding: 15px;
}

/* line 35, ../sass/build.scss */
.p30 {
  padding: 30px !important;
}

/* line 36, ../sass/build.scss */
.pointer {
  cursor: pointer;
}

/* line 37, ../sass/build.scss */
.border-simple {
  border: 1px solid #ccc;
}

/* line 38, ../sass/build.scss */
.no-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 39, ../sass/build.scss */
.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 40, ../sass/build.scss */
.noclick {
  pointer-events: none;
}

/* line 41, ../sass/build.scss */
.inline {
  display: inline-block;
}

/* line 42, ../sass/build.scss */
.block {
  display: block !important;
}

/* line 43, ../sass/build.scss */
.hidden {
  display: none;
}

/* line 44, ../sass/build.scss */
.visible {
  display: block;
}

/* line 45, ../sass/build.scss */
.clear {
  clear: both;
}

/* line 46, ../sass/build.scss */
.max-w1 {
  width: 10%;
}

/* line 47, ../sass/build.scss */
.w1 {
  width: 10%;
}

/* line 48, ../sass/build.scss */
.max-w15 {
  max-width: 15%;
}

/* line 49, ../sass/build.scss */
.w15 {
  width: 15%;
}

/* line 50, ../sass/build.scss */
.max-w2 {
  width: 20%;
}

/* line 51, ../sass/build.scss */
.w2 {
  width: 20%;
}

/* line 52, ../sass/build.scss */
.max-w25 {
  max-width: 25%;
}

/* line 53, ../sass/build.scss */
.w25 {
  width: 25%;
}

/* line 54, ../sass/build.scss */
.w3 {
  width: 30%;
}

/* line 55, ../sass/build.scss */
.max-w3 {
  max-width: 30%;
}

/* line 56, ../sass/build.scss */
.w35 {
  width: 35%;
}

/* line 57, ../sass/build.scss */
.max-w35 {
  max-width: 35%;
}

/* line 58, ../sass/build.scss */
.w4 {
  width: 40%;
}

/* line 59, ../sass/build.scss */
.max-w4 {
  width: 40%;
}

/* line 60, ../sass/build.scss */
.w45 {
  width: 45%;
}

/* line 61, ../sass/build.scss */
.max-w45 {
  max-width: 45%;
}

/* line 62, ../sass/build.scss */
.w5 {
  width: 50%;
}

/* line 63, ../sass/build.scss */
.max-w5 {
  width: 50%;
}

/* line 64, ../sass/build.scss */
.max-w55 {
  max-width: 55%;
}

/* line 65, ../sass/build.scss */
.w55 {
  width: 55%;
}

/* line 66, ../sass/build.scss */
.w6 {
  width: 60%;
}

/* line 67, ../sass/build.scss */
.max-w6 {
  width: 60%;
}

/* line 68, ../sass/build.scss */
.max-w65 {
  max-width: 65%;
}

/* line 69, ../sass/build.scss */
.w65 {
  width: 65%;
}

/* line 70, ../sass/build.scss */
.w7 {
  width: 70%;
}

/* line 71, ../sass/build.scss */
.max-w7 {
  width: 70%;
}

/* line 72, ../sass/build.scss */
.w75 {
  width: 75%;
}

/* line 73, ../sass/build.scss */
.max-w75 {
  max-width: 75%;
}

/* line 74, ../sass/build.scss */
.w8 {
  width: 80%;
}

/* line 75, ../sass/build.scss */
.max-w8 {
  width: 80%;
}

/* line 76, ../sass/build.scss */
.max-w85 {
  max-width: 85%;
}

/* line 77, ../sass/build.scss */
.w85 {
  width: 85%;
}

/* line 78, ../sass/build.scss */
.max-w9 {
  width: 90%;
}

/* line 79, ../sass/build.scss */
.w9 {
  width: 90%;
}

/* line 80, ../sass/build.scss */
.max-w95 {
  max-width: 94.5%;
}

/* line 81, ../sass/build.scss */
.w95 {
  width: 94.5%;
}

/* line 82, ../sass/build.scss */
.max-w10 {
  max-width: 100%;
}

/* line 83, ../sass/build.scss */
.w10 {
  width: 100%;
}

/* line 84, ../sass/build.scss */
.icon {
  font-family: 'icons';
}

/* line 85, ../sass/build.scss */
.white {
  color: #fff;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), url("../icomoon/fonts/icomoon.woff") format("woff"), url("../icomoon/fonts/icomoon.ttf") format("truetype");
}

/* line 19, ../sass/screen.scss */
.bs {
  border: 1px solid red;
}

/* line 20, ../sass/screen.scss */
.clickme {
  color: #2092cc;
  cursor: pointer;
}

/* line 25, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 31, ../sass/screen.scss */
html {
  height: 100%;
}

/* line 33, ../sass/screen.scss */
body {
  background: url("../images/tweed.png");
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 1px 0px #fff;
  color: #444;
  position: relative;
  min-height: 100%;
  padding-top: 40px;
}
/* line 42, ../sass/screen.scss */
body:after {
  content: "";
  position: absolute;
  display: none;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9911;
}
/* line 54, ../sass/screen.scss */
body.active-modal::after {
  display: block;
}

/* line 60, ../sass/screen.scss */
h1 {
  font-size: 2.1em;
}

/* line 65, ../sass/screen.scss */
h2 {
  font-size: 1.6em;
}
/* line 68, ../sass/screen.scss */
h2.title-bar {
  background: #dee9f2;
  border-bottom: 1px solid #acd1ef;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: 95%;
}

/* line 77, ../sass/screen.scss */
h3 {
  font-size: 1.2em;
  padding: 5px 3px;
}

/* line 82, ../sass/screen.scss */
.tabs {
  height: 40px;
  background: none;
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
}
/* line 90, ../sass/screen.scss */
.tabs .add-section {
  float: left;
  color: #f9f9f9;
}
/* line 95, ../sass/screen.scss */
.tabs li {
  line-height: 40px;
  height: 100%;
  max-width: 200px;
  padding: 0 10px;
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  background: #333;
  background: rgba(0, 0, 0, 0.5);
  margin: 0 3px;
  text-shadow: 0px -1px 3px #000;
  color: #f9f9f9;
  cursor: pointer;
}
/* line 113, ../sass/screen.scss */
.tabs li:hover {
  text-decoration: underline;
}
/* line 116, ../sass/screen.scss */
.tabs li .remove {
  position: absolute;
  right: 2px;
  top: -14px;
  color: #f7f7f7;
}
/* line 122, ../sass/screen.scss */
.tabs li.current-tab {
  text-decoration: underline;
}

/* line 128, ../sass/screen.scss */
header, footer {
  background-color: #424141;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF424141', endColorstr='#FF262626');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #424141), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(top, #424141 0%, #262626 100%);
  background-image: -moz-linear-gradient(top, #424141 0%, #262626 100%);
  background-image: -o-linear-gradient(top, #424141 0%, #262626 100%);
  background-image: linear-gradient(top, #424141 0%, #262626 100%);
  overflow: hidden;
  *zoom: 1;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  color: #f9f9f9;
  text-shadow: 0px -1px 0px #111;
  padding: 10px 5px 10px 10px;
  border-bottom: 1px solid #252525;
  border-top: 1px solid #666;
}
/* line 145, ../sass/screen.scss */
header input, footer input {
  margin-top: 1px;
  background: #555;
  border: 1px solid #222;
  border-top-color: #222;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0px 1px 3px #222222;
  -moz-box-shadow: inset 0px 1px 3px #222222;
  box-shadow: inset 0px 1px 3px #222222;
  color: #f9f9f9;
}
/* line 155, ../sass/screen.scss */
header input:focus, footer input:focus {
  outline: none;
  background: #707070;
}
/* line 162, ../sass/screen.scss */
header button, footer button {
  font-size: .9em;
  margin: 0 0 0 8px;
}
/* line 167, ../sass/screen.scss */
header .view-sections, footer .view-sections {
  margin: 0 5px 0 15px;
  position: relative;
}
/* line 171, ../sass/screen.scss */
header .view-sections:before, footer .view-sections:before {
  content: "";
  position: absolute;
  left: 50%;
  display: none;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #2092cc;
  top: 100%;
  left: 45%;
}
/* line 183, ../sass/screen.scss */
header .view-sections.active:before, footer .view-sections.active:before {
  display: block;
}
/* line 184, ../sass/screen.scss */
header .view-sections:hover::before, footer .view-sections:hover::before {
  border-top-color: #2184A1;
}

/* line 189, ../sass/screen.scss */
footer {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

/* line 193, ../sass/screen.scss */
.container {
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 0px auto;
  background: #f9f9f9;
  position: relative;
  -webkit-box-shadow: 0px 0px 9px #333333;
  -moz-box-shadow: 0px 0px 9px #333333;
  box-shadow: 0px 0px 9px #333333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 204, ../sass/screen.scss */
.modal {
  display: block;
  width: 900px;
  position: fixed;
  left: 50%;
  z-index: 9912;
  margin-left: -400px;
  top: 100px;
  background: #fff;
  background: rgba(255, 255, 255, 0.89);
  padding: 20px;
  -webkit-box-shadow: 0px 0px 7px #222222;
  -moz-box-shadow: 0px 0px 7px #222222;
  box-shadow: 0px 0px 7px #222222;
}
/* line 217, ../sass/screen.scss */
.modal .close-modal {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

/* line 226, ../sass/screen.scss */
ul.select-properties {
  display: block;
  width: 35%;
  float: left;
  position: relative;
}
/* line 234, ../sass/screen.scss */
ul.select-properties .add-property {
  font-size: .88em;
  padding: 0 15px 0 0;
}
/* line 239, ../sass/screen.scss */
ul.select-properties .hide-properties {
  cursor: pointer;
}
/* line 241, ../sass/screen.scss */
ul.select-properties li {
  display: block;
  min-height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 !important;
  border-top: 1px solid #fff;
  -webkit-box-shadow: 0px -2px 6px #cccccc;
  -moz-box-shadow: 0px -2px 6px #cccccc;
  box-shadow: 0px -2px 6px #cccccc;
  padding-bottom: 10px;
}
/* line 251, ../sass/screen.scss */
ul.select-properties li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 255, ../sass/screen.scss */
ul.select-properties li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-bottom: none;
}
/* line 260, ../sass/screen.scss */
ul.select-properties li.new-data-type {
  position: absolute;
  top: -40px;
  left: 10px;
  border: none;
}
/* line 265, ../sass/screen.scss */
ul.select-properties li.new-data-type:after, ul.select-properties li.new-data-type:before {
  display: none;
}
/* line 288, ../sass/screen.scss */
ul.select-properties .icon {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #999;
}
/* line 295, ../sass/screen.scss */
ul.select-properties .icon.flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 300, ../sass/screen.scss */
ul.select-properties .close {
  position: absolute;
  top: 0px;
  right: 10px;
}
/* line 306, ../sass/screen.scss */
ul.select-properties li ul {
  margin: 0 !important;
}
/* line 310, ../sass/screen.scss */
ul.select-properties li li, ul.select-properties .property {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding-left: 60px;
  background: #fff;
  margin: 1px 3px 1px 35px;
  cursor: pointer;
  min-height: 25px;
  line-height: 25px;
  font-size: 1em;
  border-bottom: none;
}
/* line 323, ../sass/screen.scss */
ul.select-properties li li:after, ul.select-properties li li:before, ul.select-properties .property:after, ul.select-properties .property:before {
  display: none;
}
/* line 325, ../sass/screen.scss */
ul.select-properties li li.selected, ul.select-properties .property.selected {
  color: #f9f9f9;
  background: #2092cc !important;
  text-shadow: none;
}
/* line 330, ../sass/screen.scss */
ul.select-properties li li.selected:hover, ul.select-properties .property.selected:hover {
  color: #fff;
}
/* line 332, ../sass/screen.scss */
ul.select-properties li li.selected .icon, ul.select-properties .property.selected .icon {
  color: #fff;
}
/* line 335, ../sass/screen.scss */
ul.select-properties li li:hover, ul.select-properties .property:hover {
  color: #2092cc;
}
/* line 339, ../sass/screen.scss */
ul.select-properties li li:first-child, ul.select-properties .property:first-child {
  border-top: 1px solid #ddd;
}
/* line 343, ../sass/screen.scss */
ul.select-properties li li:last-child, ul.select-properties .property:last-child {
  border-bottom: none;
}
/* line 346, ../sass/screen.scss */
ul.select-properties li li:focus, ul.select-properties .property:focus {
  outline: 1px solid #fff;
}
/* line 350, ../sass/screen.scss */
ul.select-properties li li:nth-child(even), ul.select-properties .property:nth-child(even) {
  background: #dee9f2;
}
/* line 355, ../sass/screen.scss */
ul.select-properties div[contentEditable] {
  padding-left: 60px;
}
/* line 357, ../sass/screen.scss */
ul.select-properties div[contentEditable]:focus {
  outline: 1px solid #fff;
}

/* line 364, ../sass/screen.scss */
.layout-list li {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin: 10px 1.5%;
  text-align: center;
}
/* line 370, ../sass/screen.scss */
.layout-list li.selected-layout {
  background: #2092cc;
  color: #fff;
  text-shadow: none;
}

/* line 378, ../sass/screen.scss */
.selected-properties-title {
  position: relative;
  bottom: -20px;
  display: inline-block;
  border: 1px solid red;
  padding: 0px 20px;
  background: #fff;
}

/* line 387, ../sass/screen.scss */
ul.property-editor {
  border: 1px solid #ccc;
  padding: 32px 10px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
/* line 393, ../sass/screen.scss */
ul.property-editor:before {
  content: "Selected Properties";
  position: absolute;
  top: -10px;
  display: block;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  background: #fff;
  padding: 0 15px;
  text-align: center;
  font-size: 1.4em;
}
/* line 407, ../sass/screen.scss */
ul.property-editor li {
  padding: 6px 14px 6px 60px;
}
/* line 411, ../sass/screen.scss */
ul.property-editor li:nth-child(odd) {
  background: #dee9f2;
}
/* line 415, ../sass/screen.scss */
ul.property-editor li .icon {
  font-size: .9em;
  padding: 0 5px;
  color: #555;
  position: relative;
}
/* line 421, ../sass/screen.scss */
ul.property-editor li .icon:before {
  content: attr(data-tooltip);
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  display: none;
  bottom: 100%;
  left: -50%;
  padding: 4px 6px;
  text-shadow: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #eee;
}
/* line 435, ../sass/screen.scss */
ul.property-editor li .icon:hover {
  color: #2092cc;
}

/* line 441, ../sass/screen.scss */
.sort-element {
  background: #dee9f2;
  font-family: 'icons';
  position: absolute;
  height: 100%;
  width: 30px;
  text-align: center;
  display: block;
  color: #444;
  font-size: .8em;
}

/* line 453, ../sass/screen.scss */
.right-arrow {
  line-height: 300px;
  font-size: 3rem;
  color: #2092cc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

@keyframes blink {
  /* line 477, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 478, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes blink {
  /* line 481, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 482, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  /* line 485, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 486, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

/* line 489, ../sass/screen.scss */
ul.outside-draggables {
  display: block;
  margin: 10px 10px 0 0;
  border-top: 1px solid #fff;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #2092cc;
  color: #fff;
}
/* line 497, ../sass/screen.scss */
ul.outside-draggables li {
  text-shadow: none;
  display: inline-block;
  line-height: 30px;
  padding: 5px 15px;
  height: 100%;
  margin: 0 3px;
  position: relative;
  cursor: move;
  min-width: 100px;
  text-align: center;
}
/* line 509, ../sass/screen.scss */
ul.outside-draggables li:hover {
  text-decoration: underline;
}
/* line 512, ../sass/screen.scss */
ul.outside-draggables li:hover ul {
  display: block;
}
/* line 515, ../sass/screen.scss */
ul.outside-draggables li.dragging {
  border: 1px dotted #2092cc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 3px #aaaaaa;
  -moz-box-shadow: 0px 0px 3px #aaaaaa;
  box-shadow: 0px 0px 3px #aaaaaa;
  height: 40px;
  background: #fff;
  color: #313131;
}
/* line 525, ../sass/screen.scss */
ul.outside-draggables li.no-close ul {
  display: block;
}
/* line 527, ../sass/screen.scss */
ul.outside-draggables li ul {
  position: absolute;
  width: 150%;
  top: 100%;
  left: -3px;
  z-index: 9999;
  border: 1px solid #aaa;
  border-top: none;
  display: none;
}
/* line 537, ../sass/screen.scss */
ul.outside-draggables li ul li {
  width: 100%;
  background: #fff;
  color: #2092cc;
  position: relative;
  left: -3px;
  min-width: 0%;
}
/* line 546, ../sass/screen.scss */
ul.outside-draggables li ul li:hover {
  color: #f9f9f9;
  background: #2092cc;
}

/* line 557, ../sass/screen.scss */
.over {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: 1px dotted #2092cc !important;
  background: #dee9f2 !important;
}

/* line 564, ../sass/screen.scss */
.dragging {
  opacity: .7;
  z-index: 1111;
}

/* line 569, ../sass/screen.scss */
.moving-sort .sort-element {
  background: #acd1ef;
}

/* line 573, ../sass/screen.scss */
#existing-sections {
  position: absolute;
  top: 60px;
  right: -1px;
  width: 182px;
  -webkit-box-shadow: -1px 1px 3px #666666;
  -moz-box-shadow: -1px 1px 3px #666666;
  box-shadow: -1px 1px 3px #666666;
  background: #555;
  z-index: 111;
  max-height: 80%;
  overflow-y: scroll;
}
/* line 584, ../sass/screen.scss */
#existing-sections li {
  background: #555;
  white-space: nowrap;
  text-align: center;
  cursor: move;
  padding: 5px 10px;
  border-top: 1px solid #888;
  border-bottom: 1px solid #333;
  color: #f9f9f9;
  text-shadow: 0px -1px 0px #222;
  max-height: 182px;
}
/* line 597, ../sass/screen.scss */
#existing-sections li .thumb-object {
  border: 1px solid #53a3e0;
  padding: 5px;
  margin: 2px;
}

/* line 605, ../sass/screen.scss */
.organize-elements {
  min-height: 100%;
  margin: 10px;
  padding: 5px;
  width: 25.5%;
  margin-left: -4%;
  float: left;
  position: relative;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 2px #aaaaaa;
  -moz-box-shadow: 0px 1px 2px #aaaaaa;
  box-shadow: 0px 1px 2px #aaaaaa;
  border: 1px solid #ccc;
}
/* line 619, ../sass/screen.scss */
.organize-elements .ui-sortable-placeholder {
  border: 1px dotted #2092cc;
  visibility: visible !important;
  background: #fff !important;
}
/* line 625, ../sass/screen.scss */
.organize-elements li {
  position: relative;
  padding-left: 25px;
  min-height: 30px;
  line-height: 30px;
  display: block;
  cursor: move;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}
/* line 637, ../sass/screen.scss */
.organize-elements li:first-child {
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
/* line 639, ../sass/screen.scss */
.organize-elements li:first-child .sort-element {
  -webkit-border-radius: 2px 0 0 0;
  -moz-border-radius: 2px 0 0 0;
  -ms-border-radius: 2px 0 0 0;
  -o-border-radius: 2px 0 0 0;
  border-radius: 2px 0 0 0;
}
/* line 643, ../sass/screen.scss */
.organize-elements li:last-child {
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}
/* line 645, ../sass/screen.scss */
.organize-elements li:last-child .sort-element {
  -webkit-border-radius: 0 0 0 2px;
  -moz-border-radius: 0 0 0 2px;
  -ms-border-radius: 0 0 0 2px;
  -o-border-radius: 0 0 0 2px;
  border-radius: 0 0 0 2px;
}
/* line 651, ../sass/screen.scss */
.organize-elements li:nth-child(odd) {
  background: #dee9f2;
}
/* line 654, ../sass/screen.scss */
.organize-elements li:nth-child(even) {
  background: #fff;
}
/* line 658, ../sass/screen.scss */
.organize-elements li .destroy-element, .organize-elements li .activate-element {
  display: none;
}
/* line 660, ../sass/screen.scss */
.organize-elements li .sort-element {
  left: 0px;
  top: 0px;
  cursor: pointer;
  cursor: hand;
  width: 20px;
  text-align: center;
}
/* line 669, ../sass/screen.scss */
.organize-elements li .child-list {
  margin-left: -12px !important;
}
/* line 673, ../sass/screen.scss */
.organize-elements li.out-of-flow {
  background: #ddd !important;
}
/* line 676, ../sass/screen.scss */
.organize-elements li.out-of-flow > .destroy-element, .organize-elements li.out-of-flow > .activate-element {
  display: block;
}
/* line 677, ../sass/screen.scss */
.organize-elements li.out-of-flow .sort-element {
  background: #ccc;
}
/* line 679, ../sass/screen.scss */
.organize-elements li.out-of-flow li {
  background: #ddd !important;
}
/* line 684, ../sass/screen.scss */
.organize-elements li .activate-element, .organize-elements li .destroy-element {
  position: absolute;
  right: 10px;
  font-family: 'icons';
  color: #7FBA50;
  cursor: pointer;
}
/* line 691, ../sass/screen.scss */
.organize-elements li .destroy-element {
  right: 33px;
  color: #666;
}

/* line 698, ../sass/screen.scss */
section.builder-container {
  float: right;
  position: relative;
  margin: 0px 10px 10px;
  padding: 0;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0px 2px 4px #cccccc;
  -moz-box-shadow: 0px 2px 4px #cccccc;
  box-shadow: 0px 2px 4px #cccccc;
  border: 1px solid #ccc;
}
/* line 707, ../sass/screen.scss */
section.builder-container .sort-element {
  top: 0;
  right: 0;
}
/* line 714, ../sass/screen.scss */
section.builder-container.no-grid .builder-element {
  outline-color: transparent;
  margin-left: 0;
  margin-right: 0;
}
/* line 719, ../sass/screen.scss */
section.builder-container.no-grid .builder-element textarea, section.builder-container.no-grid .builder-element .title-setter {
  border: none;
  resize: none;
}
/* line 724, ../sass/screen.scss */
section.builder-container.no-grid .builder-element textarea {
  background: #e3e3e3;
  padding: 10px;
}
/* line 729, ../sass/screen.scss */
section.builder-container.no-grid .builder-element .add-list-item {
  display: none;
}
/* line 732, ../sass/screen.scss */
section.builder-container.no-grid .droppable-placeholder {
  display: none;
}

/* line 740, ../sass/screen.scss */
.builder-element {
  position: relative;
  padding: 2px 3px;
  margin: 0px 1%;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  outline: 1px dashed #82b7e0;
  background: #fff;
  vertical-align: top;
  *zoom: 1;
  cursor: move;
  text-overflow: ellipsis;
  display: inline-block;
  width: 98%;
}
/* line 756, ../sass/screen.scss */
.builder-element ul, .builder-element ol, .builder-element dl {
  list-style-position: inside !important;
}
/* line 759, ../sass/screen.scss */
.builder-element ul li, .builder-element ol li, .builder-element dl li {
  list-style-position: inside !important;
}
/* line 764, ../sass/screen.scss */
.builder-element.builder-scaffold {
  width: 100%;
  outline: none;
  margin: 0;
  cursor: auto;
}
/* line 771, ../sass/screen.scss */
.builder-element:hover {
  outline-color: #2092cc;
  -webkit-box-shadow: 0px 0px 4px #82b7e0;
  -moz-box-shadow: 0px 0px 4px #82b7e0;
  box-shadow: 0px 0px 4px #82b7e0;
}
/* line 775, ../sass/screen.scss */
.builder-element:hover > .config-menu-wrap {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 780, ../sass/screen.scss */
.builder-element.child {
  outline: 1px dashed #82b7e0 !important;
}
/* line 784, ../sass/screen.scss */
.builder-element input {
  margin: 10px 0;
  width: 65%;
}
/* line 789, ../sass/screen.scss */
.builder-element.selected-element {
  outline: 1px dashed #FF6100 !important;
  -webkit-box-shadow: 0px 0px 16px #cccccc;
  -moz-box-shadow: 0px 0px 16px #cccccc;
  box-shadow: 0px 0px 16px #cccccc;
}
/* line 796, ../sass/screen.scss */
.builder-element:before, .builder-element:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
/* line 800, ../sass/screen.scss */
.builder-element:after {
  clear: both;
}
/* line 804, ../sass/screen.scss */
.builder-element textarea {
  color: #363636;
}

/* line 807, ../sass/screen.scss */
.droppable-placeholder {
  width: 100%;
  position: relative;
  left: 0;
  margin: 2px auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 14px;
  border: 2px dashed orange;
}

/* line 836, ../sass/screen.scss */
.ui-selectable-helper {
  position: absolute;
  z-index: 100;
  border: 1px dotted #2092cc;
  background: rgba(125, 185, 232, 0.4);
}

/* line 843, ../sass/screen.scss */
.config-menu-wrap {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: -4px;
  right: 0px;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 65px;
  height: 100%;
  max-height: 38px;
  z-index: 12;
  -webkit-border-radius: 0 2px 0 2px;
  -moz-border-radius: 0 2px 0 2px;
  -ms-border-radius: 0 2px 0 2px;
  -o-border-radius: 0 2px 0 2px;
  border-radius: 0 2px 0 2px;
}
/* line 858, ../sass/screen.scss */
.config-menu-wrap li {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  float: left;
  text-shadow: none;
  padding: 0 6px;
  width: 50%;
  line-height: 38px;
  color: #2092cc;
  position: relative;
}
/* line 868, ../sass/screen.scss */
.config-menu-wrap li li {
  color: #333;
}
/* line 870, ../sass/screen.scss */
.config-menu-wrap:hover {
  opacity: 1 !important;
}

/* line 878, ../sass/screen.scss */
.set-options .dropdown {
  position: absolute;
  top: 100%;
  right: 1px;
  display: none;
  font-family: "Open Sans", sans-serif;
  width: 170px;
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px #999999;
  -moz-box-shadow: 0px 1px 3px #999999;
  box-shadow: 0px 1px 3px #999999;
  z-index: 111;
  background: #fff;
}
/* line 892, ../sass/screen.scss */
.set-options .dropdown li {
  display: block;
  height: 33px;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  line-height: 33px;
}
/* line 901, ../sass/screen.scss */
.set-options .dropdown li:hover {
  background: #2092cc;
  color: #fff;
  text-shadow: none;
}

/* line 909, ../sass/screen.scss */
button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}

/* line 913, ../sass/screen.scss */
.view-section {
  cursor: pointer;
}

/* line 917, ../sass/screen.scss */
.generic-list {
  width: 80%;
}
/* line 919, ../sass/screen.scss */
.generic-list li {
  border: 1px dotted #2092cc;
  padding: 6px 4px;
  border-bottom-color: transparent;
}
/* line 924, ../sass/screen.scss */
.generic-list li:last-of-type {
  border-bottom-color: #2092cc;
}

/* line 930, ../sass/screen.scss */
ul.generic-list {
  list-style: circle;
}

/* line 933, ../sass/screen.scss */
ol.generic-list {
  list-style: decimal;
}

/* line 937, ../sass/screen.scss */
.add-list-item {
  display: block;
  padding: 6px;
  cursor: pointer;
}

/* line 943, ../sass/screen.scss */
.property-link {
  outline: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #e5e5e5;
  text-align: center;
  display: inline-block;
  padding: 0px 4px;
  margin: 0px 6px;
}

/* line 953, ../sass/screen.scss */
.layout-wrapper {
  outline: 1px solid #7BF5F5;
  padding: 10px 0 0;
}
/* line 957, ../sass/screen.scss */
.layout-wrapper:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 961, ../sass/screen.scss */
.layout-wrapper.column.one > .droppable-placeholder {
  width: 100%;
  display: block !important;
  height: 10px;
}
/* line 969, ../sass/screen.scss */
.layout-wrapper.column > .builder-element {
  display: inline-block !important;
  margin: 2px 0 1px 0 !important;
}
/* line 973, ../sass/screen.scss */
.layout-wrapper.column > .droppable-placeholder {
  width: 1% !important;
  background: orange;
  display: inline-block !important;
  margin: 0;
  min-height: 70px;
}
/* line 987, ../sass/screen.scss */
.layout-wrapper.column.two > .builder-element:nth-child(4n+7), .layout-wrapper.column.three > .builder-element:nth-child(6n+9), .layout-wrapper.column.four > .builder-element:nth-child(8n+11), .layout-wrapper.column.five > .builder-element:nth-child(10n+13), .layout-wrapper.column.six > .builder-element:nth-child(12n+15) {
  margin-left: 1% !important;
}
/* line 990, ../sass/screen.scss */
.layout-wrapper.column.two > .builder-element {
  width: 48.5%;
}
/* line 994, ../sass/screen.scss */
.layout-wrapper.column.three > .builder-element {
  width: 32%;
}
/* line 998, ../sass/screen.scss */
.layout-wrapper.column.four > .builder-element {
  width: 23.75%;
}
/* line 1002, ../sass/screen.scss */
.layout-wrapper.column.five > .builder-element {
  width: 18.8%;
}
/* line 1006, ../sass/screen.scss */
.layout-wrapper.column.six > .builder-element {
  width: 15.5%;
}

@media all and (min-width: 1000px) {
  width: 27.5%;
  margin-left: -5%;
}
/* line 1018, ../sass/screen.scss */
.choose-columns {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}
/* line 1023, ../sass/screen.scss */
.choose-columns li {
  width: 16%;
  text-shadow: none;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #313131;
  background: url("../images/columnsprite.jpg") no-repeat center;
}
/* line 1033, ../sass/screen.scss */
.choose-columns li:nth-child(1) {
  background: #c5d4e8;
}
/* line 1034, ../sass/screen.scss */
.choose-columns li:nth-child(2) {
  background-position: 0 0px;
}
/* line 1035, ../sass/screen.scss */
.choose-columns li:nth-child(3) {
  background-position: 0 -79px;
}
/* line 1036, ../sass/screen.scss */
.choose-columns li:nth-child(4) {
  background-position: 0 -159px;
}
/* line 1037, ../sass/screen.scss */
.choose-columns li:nth-child(5) {
  background-position: 0 -240px;
}
/* line 1038, ../sass/screen.scss */
.choose-columns li:nth-child(6) {
  background-position: 0 -320px;
}

/* line 1042, ../sass/screen.scss */
.tab-list {
  width: 95%;
  margin-left: 10px;
}
/* line 1046, ../sass/screen.scss */
.tab-list li {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: 3px;
  max-width: 170px;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}
/* line 1061, ../sass/screen.scss */
.tab-list li:hover {
  background: #ddd;
}

/* line 1067, ../sass/screen.scss */
.no-drag {
  cursor: auto;
}

/* line 1070, ../sass/screen.scss */
.tab-layout > .builder-element {
  position: relative;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: 3px;
  max-width: 170px;
  overflow: hidden;
  outline: none;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  margin: 0 -1px 0 -1px;
}
/* line 1088, ../sass/screen.scss */
.tab-layout > .builder-element:hover {
  background: #eee;
}
/* line 1092, ../sass/screen.scss */
.tab-layout > .builder-element h3:first-of-type {
  position: relative;
  top: -1px;
  text-align: center;
  width: 100%;
  padding: 0;
  font-size: 1em;
}
/* line 1100, ../sass/screen.scss */
.tab-layout > .builder-element h3:first-of-type:focus {
  outline: none;
  background: #ddd;
}
/* line 1106, ../sass/screen.scss */
.tab-layout > .builder-element.active-tab {
  height: auto !important;
}
/* line 1111, ../sass/screen.scss */
.tab-layout > .droppable-placeholder {
  display: inline-block;
  width: 1%;
  margin: 0;
}
