/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/build.scss */
.center {
  text-align: center;
}

/* line 18, ../sass/build.scss */
.relative {
  position: relative;
  display: block;
}

/* line 19, ../sass/build.scss */
.absolute {
  position: absolute;
}

/* line 20, ../sass/build.scss */
.sticky {
  position: fixed !important;
}

/* line 21, ../sass/build.scss */
.fr {
  float: right;
}

/* line 22, ../sass/build.scss */
.fl {
  float: left;
}

/* line 23, ../sass/build.scss */
.m0 {
  margin: 0;
}

/* line 24, ../sass/build.scss */
.m10 {
  margin: 10px !important;
}

/* line 25, ../sass/build.scss */
.m20 {
  margin: 20px !important;
}

/* line 26, ../sass/build.scss */
.m30 {
  margin: 30px !important;
}

/* line 27, ../sass/build.scss */
.s9 {
  font-size: .9em !important;
}

/* line 28, ../sass/build.scss */
.s8 {
  font-size: .8em !important;
}

/* line 29, ../sass/build.scss */
.s7 {
  font-size: .7em !important;
}

/* line 30, ../sass/build.scss */
.s6 {
  font-size: .6em !important;
}

/* line 31, ../sass/build.scss */
.s5 {
  font-size: .5em !important;
}

/* line 32, ../sass/build.scss */
.s4 {
  font-size: .4em !important;
}

/* line 33, ../sass/build.scss */
.s3 {
  font-size: .3em !important;
}

/* line 34, ../sass/build.scss */
.s2 {
  font-size: .2em !important;
}

/* line 35, ../sass/build.scss */
.s1 {
  font-size: .1em !important;
}

/* line 36, ../sass/build.scss */
.ml-0 {
  margin-left: 0px !important;
}

/* line 37, ../sass/build.scss */
.mt-40 {
  margin-top: 40px !important;
}

/* line 38, ../sass/build.scss */
.mauto {
  margin-left: auto !important;
  margin-right: auto !important;
}

/* line 39, ../sass/build.scss */
.p0 {
  padding: 0 !important;
}

/* line 40, ../sass/build.scss */
.p10 {
  padding: 10px !important;
}

/* line 41, ../sass/build.scss */
.p15 {
  padding: 15px;
}

/* line 42, ../sass/build.scss */
.p30 {
  padding: 30px !important;
}

/* line 43, ../sass/build.scss */
.pointer {
  cursor: pointer;
}

/* line 44, ../sass/build.scss */
.border-simple {
  border: 1px solid #ccc;
}

/* line 45, ../sass/build.scss */
.no-show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* line 46, ../sass/build.scss */
.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 47, ../sass/build.scss */
.noclick {
  pointer-events: none;
}

/* line 48, ../sass/build.scss */
.inline {
  display: inline-block;
}

/* line 49, ../sass/build.scss */
.block {
  display: block !important;
}

/* line 50, ../sass/build.scss */
.hidden {
  display: none;
}

/* line 51, ../sass/build.scss */
.visible {
  display: block;
}

/* line 52, ../sass/build.scss */
.clear {
  clear: both;
}

/* line 53, ../sass/build.scss */
.w1 {
  width: 10%;
}

/* line 54, ../sass/build.scss */
.w15 {
  width: 15%;
}

/* line 55, ../sass/build.scss */
.w2 {
  width: 20%;
}

/* line 56, ../sass/build.scss */
.w25 {
  width: 25%;
}

/* line 57, ../sass/build.scss */
.w3 {
  width: 30%;
}

/* line 58, ../sass/build.scss */
.w35 {
  width: 35%;
}

/* line 59, ../sass/build.scss */
.w4 {
  width: 40%;
}

/* line 60, ../sass/build.scss */
.w45 {
  width: 45%;
}

/* line 61, ../sass/build.scss */
.w5 {
  width: 50%;
}

/* line 62, ../sass/build.scss */
.w55 {
  width: 55%;
}

/* line 63, ../sass/build.scss */
.w6 {
  width: 60%;
}

/* line 64, ../sass/build.scss */
.w65 {
  width: 65%;
}

/* line 65, ../sass/build.scss */
.w7 {
  width: 70%;
}

/* line 66, ../sass/build.scss */
.w75 {
  width: 75%;
}

/* line 67, ../sass/build.scss */
.w8 {
  width: 80%;
}

/* line 68, ../sass/build.scss */
.w85 {
  width: 85%;
}

/* line 69, ../sass/build.scss */
.w9 {
  width: 90%;
}

/* line 70, ../sass/build.scss */
.w95 {
  width: 94.5%;
}

/* line 71, ../sass/build.scss */
.w10 {
  width: 100%;
}

/* line 72, ../sass/build.scss */
.icon {
  font-family: 'icons';
}

/* line 73, ../sass/build.scss */
.white {
  color: #fff;
}

@font-face {
  font-family: 'icons';
  src: url("../icomoon/fonts/icomoon.eot") format("eot"), url("../icomoon/fonts/icomoon.woff") format("woff"), url("../icomoon/fonts/icomoon.ttf") format("truetype");
}

/* line 21, ../sass/screen.scss */
.bs {
  border: 1px solid red;
}

/* line 22, ../sass/screen.scss */
.clickme {
  color: #2092cc;
  cursor: pointer;
}

/* line 27, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 33, ../sass/screen.scss */
body {
  background: #ddd;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0px 1px 0px #fff;
  color: #444;
}

/* line 40, ../sass/screen.scss */
h2 {
  font-size: 1.6em;
  text-align: center;
}

/* line 45, ../sass/screen.scss */
header {
  padding: 15px !important;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE5E5E5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: inset 0px 0px 11px white;
  -moz-box-shadow: inset 0px 0px 11px white;
  box-shadow: inset 0px 0px 11px white;
}

/* line 55, ../sass/screen.scss */
.container {
  display: block;
  width: 1200px;
  max-width: 100%;
  margin: 40px auto;
  border: 1px solid #ccc;
  overflow: hidden;
  *zoom: 1;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 0px 10px #cccccc;
  -moz-box-shadow: 0px 0px 10px #cccccc;
  box-shadow: 0px 0px 10px #cccccc;
}

/* line 66, ../sass/screen.scss */
ul.organize-properties {
  display: block;
  width: 33%;
  float: left;
  position: relative;
  margin-top: 50px !important;
}
/* line 74, ../sass/screen.scss */
ul.organize-properties .add-property {
  font-size: .88em;
  padding: 0 15px 0 0;
}
/* line 79, ../sass/screen.scss */
ul.organize-properties .hide-properties {
  cursor: pointer;
}
/* line 81, ../sass/screen.scss */
ul.organize-properties li {
  display: block;
  min-height: 40px;
  line-height: 40px;
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: 0px -2px 6px #d5d5d5;
  -moz-box-shadow: 0px -2px 6px #d5d5d5;
  box-shadow: 0px -2px 6px #d5d5d5;
}
/* line 90, ../sass/screen.scss */
ul.organize-properties li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 94, ../sass/screen.scss */
ul.organize-properties li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border-bottom: none;
}
/* line 99, ../sass/screen.scss */
ul.organize-properties li.new-data-type {
  position: absolute;
  top: -40px;
  left: 10px;
  border: none;
}
/* line 104, ../sass/screen.scss */
ul.organize-properties li.new-data-type:after, ul.organize-properties li.new-data-type:before {
  display: none;
}
/* line 127, ../sass/screen.scss */
ul.organize-properties .icon {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #999;
}
/* line 134, ../sass/screen.scss */
ul.organize-properties .icon.flipped {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 139, ../sass/screen.scss */
ul.organize-properties .close {
  position: absolute;
  top: 0px;
  right: 10px;
}
/* line 145, ../sass/screen.scss */
ul.organize-properties li ul {
  margin: 0 !important;
}
/* line 149, ../sass/screen.scss */
ul.organize-properties li ul li, ul.organize-properties .property {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-align: left;
  padding-left: 60px;
  background: #fff;
  margin: 1px 3px 1px 35px;
  cursor: pointer;
  min-height: 25px;
  line-height: 25px;
  font-size: 1em;
}
/* line 160, ../sass/screen.scss */
ul.organize-properties li ul li:after, ul.organize-properties li ul li:before, ul.organize-properties .property:after, ul.organize-properties .property:before {
  display: none;
}
/* line 162, ../sass/screen.scss */
ul.organize-properties li ul li.selected, ul.organize-properties .property.selected {
  color: #f9f9f9;
  background: #2092cc;
  text-shadow: none;
}
/* line 167, ../sass/screen.scss */
ul.organize-properties li ul li.selected:hover, ul.organize-properties .property.selected:hover {
  color: #fff;
}
/* line 169, ../sass/screen.scss */
ul.organize-properties li ul li.selected .icon, ul.organize-properties .property.selected .icon {
  color: #fff;
}
/* line 172, ../sass/screen.scss */
ul.organize-properties li ul li:hover, ul.organize-properties .property:hover {
  color: #2092cc;
}
/* line 176, ../sass/screen.scss */
ul.organize-properties li ul li:first-child, ul.organize-properties .property:first-child {
  border-top: 1px solid #ddd;
}
/* line 180, ../sass/screen.scss */
ul.organize-properties li ul li:last-child, ul.organize-properties .property:last-child {
  border-bottom: none;
}
/* line 183, ../sass/screen.scss */
ul.organize-properties li ul li:focus, ul.organize-properties .property:focus {
  outline: 1px solid #fff;
}
/* line 188, ../sass/screen.scss */
ul.organize-properties div[contentEditable] {
  padding-left: 60px;
}
/* line 190, ../sass/screen.scss */
ul.organize-properties div[contentEditable]:focus {
  outline: 1px solid #fff;
}

/* line 196, ../sass/screen.scss */
.right-arrow {
  line-height: 300px;
  font-size: 3rem;
  color: #2092cc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}

@keyframes blink {
  /* line 220, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 221, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-moz-keyframes blink {
  /* line 224, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 225, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  /* line 228, ../sass/screen.scss */
  from {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  /* line 229, ../sass/screen.scss */
  to {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}

/* line 232, ../sass/screen.scss */
ul.element-adder {
  display: block;
  width: 75%;
  height: 30px;
  border: none;
  float: right;
}
/* line 239, ../sass/screen.scss */
ul.element-adder li {
  display: inline-block;
  line-height: 30px;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 2px 5px;
  background: #ccc;
  background-color: #ffffff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFE5E5E5');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
}

/* line 255, ../sass/screen.scss */
.over {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #2092cc;
}

/* line 261, ../sass/screen.scss */
.dragging {
  color: #2092cc;
  border: 1px solid red;
}

/* line 263, ../sass/screen.scss */
section {
  width: 73%;
  min-height: 100px;
  float: right;
  position: relative;
  border: 1px solid #ccc;
}
/* line 270, ../sass/screen.scss */
section div, section ul, section li, section a, section label {
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  border: 1px solid #2092cc;
}
